@media screen and (max-width: 1339px) {
  header {
    height: 105px;
    .conteneur-header {
      .conteneur-logo {
        @include make-col(2);
      }
      .wrapper-header {
        @include make-col(10);
        .surheader {
          padding-left: 0;
          height: 50px;
        }
        .subheader {
          height: 55px;
          form.recherche {
            input[type="text"] {
              height: 30px;
            }
          }
        }
      }
    }
  }

  .megamenu {
    .menu-desktop {
      > li {
        > a {
          height: 50px;
        }
        > ul { // dropdown
          top: 49px;
          > li {
            padding: 0 30px 10px 0;
            max-width: 33%;
            > a { // nv 2
              font-size: 16px;
            }
            > ul {
              > li {
                > a { // nv 3
                  font-size: 15px;
                }
                > ul {
                  > li {
                    > a { // nv 4
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .page-wrapper {

    // home
    &.home {
      // fil d'ariane
      section.section-missions {
        background-position: bottom center;
      }
      section.section-en-un-clic {
        background: none;
        &::after {
          background-position: bottom center;
        }
      }
      section.section-thematique-une, section.section-newsletter, section.section-sante-mentale, section.section-passer-a-laction {
        background-image: none;
        &::after {
          display: none;
        }
      }

      // reste du responsive
      section.section-missions {
        padding-top: 105px;
        .conteneur-missions {
          padding-top: 65px;
          padding-bottom: 105px;
          h1 {
            font-size: 35px;
          }
        }
      }
      section.section-thematique-une {
        .conteneur-thematique-une {
          .conteneur-une {
            .conteneur-detail {
              .header-thematique {
                @include flex(flex-start, center, column);
              }
              .phrase-explicative {
                font-size: 25px;
                margin-top: -10px;
              }
              .conteneur-contenus {
                @include row-cols(1);
                margin-top: 30px;
                .element {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
      section.section-newsletter {
        padding-top: 30px;
      }
      section.section-en-un-clic {
        min-height: 780px;
        .conteneur-en-un-clic {
          .titre-section {
            padding: 60px 0 50px 0;
          }
          .liste-acces {
            .conteneur-acces {
              .acces {
                .titre-acces {
                  font-size: 19px;
                }
              }
            }
          }
        }
      }
      section.section-sante-mentale {
        .conteneur-sante-mentale {
          .row-sante-mentale {
            .conteneur-video, .conteneur-presentation {
              @include make-col(12);
            }
            .conteneur-video {
              text-align: center;
              &::before {
                left: 0;
              }
              iframe {
                margin: auto;
                
              }
            }
            .conteneur-presentation {
              text-align: center;
              margin-top: 90px;
              .titre-section {
                margin-bottom: 45px;
              }
              .conteneur-acces {
                @include make-row();
                @include row-cols(2);
                .acces {
                  @include flex(center, center, column);
                  padding: 0 20px;
                  margin-bottom: 0;
                  .conteneur-picto {
                    margin-bottom: 20px;
                  }
                  .conteneur-detail {
                    @include flex(center, null, column);
                  }
                }
              }
            }
          }
        }
      }
      section.section-passer-a-laction {
        .conteneur-passer-a-laction {
          .titre-section {
            padding: 50px 0 40px 0;
          }
          .conteneur-profils {
            .conteneur-profil {
              .profil {
                .conteneur-visuel {
                  width: 228px;
                  height: 260px;
                  .visuel {
                    width: inherit;
                  }
                  &::after {
                    background-size: contain;
                  }
                }
                .titre-profil {
                  font-size: 22px;
                  max-width: unset;
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }

    // toutes les pages à l'exception de la home
    &:not(.home){
      padding-top: 190px;
      background-position: 50% -30px;
      .conteneur-ariane {
        margin-bottom: 20px;
      }
      main.main-content {
        h1 {
          margin-bottom: 30px;
        }
        .chapo {
          margin-bottom: 40px;
        }
      }
    }

    // pages de liste
    &.liste {

      &.liste-definitions {
        main.main-content {
          .conteneur-alphabet {
            .alphabet {
              font-size: 15px;
              &.sticky {
                top: 115px;
                &::before {
                  height: 55px;
                }
              }
              .lettre {
                width: 35px;
                height: 33px;
              }
            }
          }
        }
      }

      // encadré des filtres
      .conteneur-filtres {
        padding: 12px 20px 30px 20px;
        margin-bottom: 0;
        form.filtres {
          flex-wrap: wrap;
          .conteneur-titre {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid lighten($info,5%);
            padding-bottom: 7px;
            margin-bottom: 20px;
            .titre {
              margin-right: 0;
            }
          }
          .form-group {
            margin-right: 15px;
            label {
              @include rgaa-hidden();
            }
          }
        }
      }

      .conteneur-pagination {
        padding-top: 50px;
        padding-bottom: 70px;
        margin-bottom: 50px;
        &::after {
          height: 70px;
        }
      }

      // Contenu de la liste
      .conteneur-liste {

        // type en grille
        &.liste-grille {
          @include row-cols(2);
          .conteneur-element {

            // gestion des backgrounds, 1 ligne sur 2
            &:nth-of-type(1), &:nth-of-type(2),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(9),&:nth-of-type(10) {
              background: none !important;
              &::before, &::after {
                display: none;
              }
            }
            &:nth-of-type(3), &:nth-of-type(4),&:nth-of-type(7),&:nth-of-type(8),&:nth-of-type(11),&:nth-of-type(12) {
              background: $bgliste;
              .element {
                .footer-element {
                  &::before {
                    background: darken($bgliste, 5%);
                  }
                }
              }
            }
            &:nth-of-type(3), &:nth-of-type(7), &:nth-of-type(11) {
              &::before {
                @include pseudo-element($bgliste, -1, null, 0, -100vw, null, null, 100vw);
              }
            }
            &:nth-of-type(4), &:nth-of-type(8), &:nth-of-type(12) {
              &::after {
                @include pseudo-element($bgliste, -1, null, 0, null, null, -100vw, 100vw);
              }
            }

            .element {
              padding: 40px 0;
            }
          }
        }
      }
    }

    //pages de détail
    &.detail {

      &.page-standard {
        main.main-content {
          .conteneur-detail {
            .sommaire {
              max-width: unset;
              width: 100%;
            }
          }
        }
      }

      main.main-content {
        .conteneur-detail {
          &.conteneur-temoignage {
            .conteneur-visuel {
              max-width: 250px;
            }
          }
          .conteneur-caracteristiques-info, .conteneur-carte {
            @include make-col(12);
          }
          .conteneur-caracteristiques-info {
            @include flex(null);
            margin-bottom: 30px;
            .infos-complementaires {
              width: 60%;
              @include destroy-trait-psycom();
              padding-top: 0;
              margin-right: 30px;
            }
            .caracteristiques {
              width: 40%;
              order: 2;
              background-image: none;
              padding-bottom: 0;
              margin-bottom: 0;
              .caracteristique {
                width: 100%;
              }
            }
          }
          .conteneur-carte {
            height: 300px;
            margin-top: 30px;
          }
        }
      }

      aside.sidebar {
        .conteneur-partage {
          @include flex(null, center);
          flex-wrap: wrap;
          text-align: center;
          padding-right: 0;
          padding-bottom: 10px;
          margin-bottom: 30px;
          .titre-partage {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
          }
        }
        .widget {
          margin-bottom: 20px;
          .body-widget {
            padding: {
              top: 0;
              left: 10px;
              bottom: 15px;
              right: 10px;
            };
            .liste-widget {
              .element {
                font-size: 14px;
                padding: 3px 0;
              }
            }
          }
        }
      }
    }
  }

  footer {
    // fil d'ariane
    &.footer-home {
      section.section-surfooter, section.section-subfooter {
        background-image: none;
        &::after {
          display: none;
        }
      }
    }
    section.section-surfooter {
      .conteneur-surfooter {
        .row-surfooter {
          .surfooter-main {
            @include make-col(12);
            margin-bottom: 30px;
            .conteneur-menu-rs {
              justify-content: center;
            }
          }
          .conteneur-partenaires {
            @include make-col(12);
            justify-content: center;

          }
        }
      }
    }
  }
}