@media screen and (max-width: 575px) {

  .page-wrapper {

    &.page-sitemap {
      ul {
        padding-left: 15px; 
      }
    }

    // home
    &.home {
      section.section-thematique-une {
        .conteneur-thematique-une {
          .conteneur-une {
            .conteneur-detail {
              .header-thematique {
                .titre-section {
                  font-size: 35px;
                  margin-right: 0;
                  text-align: center;
                }
                .thematique {
                  font-size: 15px;
                  margin-bottom: 15px;
                  text-align: center;
                }
              }
              .phrase-explicative {
                font-size: 20px;
              }
              .conteneur-contenus {
                .element {
                  margin-bottom: 10px;
                  .type {
                    margin-right: 20px;
                  }
                  .titre-element {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
      section.section-newsletter {
        .conteneur-newsletter {
          .titre-section {
            font-size: 40px;
          }
          .encadre-newsletter {
            padding: 20px 15px;
            &::before {
              display: none;
            }
            .titre-newsletter {
              font-size: 14px;
            }
            .form-newsletter {
              .custom-control-label {
                font-size: 14px;
              }
            }
          }
        }
      }
      section.section-en-un-clic {
        .conteneur-en-un-clic {
          .liste-acces {
            @include row-cols(1);
            .conteneur-acces {
              .acces {
                min-height: 50px;
              }
            }
          }
        }
      }
      section.section-passer-a-laction {
        .conteneur-passer-a-laction {
          .conteneur-profils {
            @include row-cols(1);
            .conteneur-profil {
              &:nth-of-type(odd) {
                .profil {
                  .conteneur-visuel {
                    order: 2;
                  }
                  .titre-profil {
                    margin-left: 0;
                    margin-right: 15px;
                    text-align: right;
                  }
                }
              }
              &:last-of-type {
                .profil {
                  border-bottom: none;
                }
              }
              .profil {
                @include flex(center, space-between, row);
                border-bottom: 1px solid $primary;
                margin: 0;
                .conteneur-visuel {
                  width: 105px;
                  height: 140px;
                  flex-shrink: 0;
                  &::after {
                    display: none;
                  }
                  .visuel {
                    max-width: calc(100% + 50px);
                    max-height: calc(100% + 50px);
                    width: auto;
                    height: auto;
                    min-height: 100%;
                    min-width: 100%;
                  }
                }
                .titre-profil {
                  text-align: left;
                  margin-left: 15px;
                  width: 100%;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

    // toutes les pages à l'exception de la home
    &:not(.home){
      main.main-content {
        h1 {

        }
        .chapo {
          margin-bottom: 25px;
        }
      }
    }

    // pages de liste
    &.liste {
      // encadré des filtres
      .conteneur-filtres {
        form.filtres {
          .form-group {
            .select2 {
              .selection {
                .select2-selection {
                  min-height: 37px;
                  height: auto;
                }
              }
            }
          }
        }
      }

      .conteneur-pagination {
        @include flex(center, center, column);
        #pagination-heading {
          margin-right: 0;
          margin-bottom: 15px;
        }
        .pagination {
          .numero {
            &.active {
              margin-right: 0;
            }
            &:not(.active){
              display: none;
            }
          }
        }
      }

      // Contenu de la liste
      .conteneur-liste {

        // type en grille
        &.liste-grille {

          .conteneur-element {

            .element {
              .header-element {
                @include flex(center, center, column);
                .date {
                  margin-bottom: 10px;
                }
              }
              .body-element {
                .titre-element {
                  font-size: 18px;
                  margin-bottom: 10px;
                  text-align: center;
                }
                .chapo-element {
                  font-size: 14px;
                  margin-bottom: 20px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    //pages de détail
    &.detail {
      main.main-content {
        .footer-detail {
          @include flex(null, center);
          .retour {
            //height: 35px;
            span {
              display: none;
              &.mobile {
                display: block;
              }
            }
          }
        }
      }
      aside.sidebar {
        .widget {
          &.widget-doc, &.widget-lien {
            width: 100%;
            padding-right: 0;
          }
        }
      }
    }

  }

  footer {
    section.section-surfooter {
      .conteneur-surfooter {
        .row-surfooter {
          @include destroy-row();
          @include flex(center, null, column);
          .surfooter-main {
            .conteneur-logo-cta {
              @include make-col(12);
              @include flex(center, center, column);
              margin-bottom: 20px;
            }
            .conteneur-menu-rs {
              @include make-col(12);
            }
          }
          .conteneur-partenaires {
            flex-wrap: wrap;
            .partenaire {
              margin-right: 0;
              margin: 10px;
            }
          }
        }
      }
    }
    section.section-subfooter {
      .conteneur-subfooter {
        @include flex(center, center, column);
        .menu-footer {
          ul {
            @include flex(center, center, column);
            li{
              padding-right: 0;
              margin-left: 0;
              margin-bottom: 5px;
              &::after {
                display: none;
              }
            }
          }
        }
        .copywright {
          margin-left: 0;
        }
      }
    }
  }
}