@media screen and (max-width: 767px) {

  .page-wrapper {
    &.home {
      section.section-missions {
        margin-bottom: 40px;
        .conteneur-missions {
          padding: 40px 15px;
          h1 {
            font-size: 25px;
          }
        }
      }
      section.section-thematique-une {
        padding-top: 0;
        .conteneur-thematique-une {
          .conteneur-une {
            .conteneur-visuel {
              &::before {
                display: none;
              }
            }
          }
        }
      }
      section.section-newsletter {
        padding-top: 10px;
        .conteneur-newsletter {
          .encadre-newsletter {
            padding: 25px 30px;
            .titre-newsletter {
              font-size: 17px;
              text-align: center;
            }
          }
        }
      }
      section.section-en-un-clic {
        .conteneur-en-un-clic {
          .titre-section {
            padding: 40px 0;
          }
          .liste-acces {
            .conteneur-acces {
              .acces {
                background-image: none !important;
                align-items: stretch;
                min-height: 100px;
                margin-bottom: 30px;
                .conteneur-picto {
                  @include flex(center, center);
                  background: $secondary;
                  padding: 10px 15px;
                  width: 50px;
                  .picto {
                    margin-left: 0;
                    max-width: 35px;
                    max-height: 35px;
                  }
                }
                .titre-acces {
                  @include flex(center);
                  margin-left: 15px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      section.section-sante-mentale {
        padding-top: 60px;
        padding-bottom: 70px;
        .conteneur-sante-mentale {
          .row-sante-mentale {
            .conteneur-video {
              &::before {
                display: none;
              }
              iframe {
                width: 100%;
                max-height: 285px;
              }
            }
            .conteneur-presentation {
              margin-top: 30px;
            }
          }
        }
      }
    }

    // toutes les pages à l'exception de la home
    &:not(.home){
      .conteneur-ariane {
        display: none;
      }
      main.main-content {
        padding-top: 20px;
        h1 {
          font-size: 35px;
          margin-bottom: 25px;
        }
        .chapo {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 35px;
        }
      }
    }

    // pages de liste
    &.liste {
      // encadré des filtres
      .conteneur-filtres {
        &::before {
          display: none;
        }
        form.filtres {
          .titre {
            font-size: 18px;
          }
        }
      }

      .conteneur-pagination {
        padding-bottom: 50px;
        margin-bottom: 0;
        &::after {
          display: none;
        }
      }

      // Contenu de la liste
      .conteneur-liste {

        // type en grille
        &.liste-grille {
          @include row-cols(1);
          .conteneur-element {
            &:nth-of-type(odd) {
              background: none !important;
              &::before, &::after {
                display: none !important;
              }
              .element {
                .footer-element {
                  &::before {
                    background: $gray-200 !important;
                  }
                }
              }
            }
            &:nth-of-type(even) {
              background: $bgliste !important;
              &::before {
                display: block !important;
                @include pseudo-element($bgliste, -1, null, 0, -20vw, null, null, 150vw);
              }
              &::after {
                display: none !important;
              }
              .element {
                .footer-element {
                  &::before {
                    background: darken($bgliste, 5%) !important;
                  }
                }
              }
            }
            .element {
              padding: 20px 0;
            }
          }
        }
      }
    }

    //pages de détail
    &.detail {
      main.main-content {
        .intro-content {
          @include flex(null, null, column);
          margin-top: 10px;
          margin-bottom: 30px;
          .date {
            margin-bottom: 10px;
            &::before {
              display: none;
            }
          }
        }
        .conteneur-detail {
          .contenu {
            @include flex(null, null, column);
            .chapo {
              order: 0;
              width: 100%;
              @include destroy-trait-psycom();
              padding-bottom: 0;
              margin-bottom: 35px;
            }
            .conteneur-visuel {
              order: 1;
              float: none;
              max-width: none;
              width: 100%;
              text-align: center;
              @include trait-psycom($secondary, bottom, after);
              margin-left: 0;
              margin-bottom: 40px;
              &::before {
                display: none;
              }
              &::after {
                bottom: 0;
              }
              .visuel {
                max-height: 400px;
              }
            }
            .wysiwyg {
              order: 2;
              font-size: 15px;
            }
          }
          .conteneur-caracteristiques-info {
            .caracteristiques {
              .caracteristique {
                width: 100%;
              }
            }
          }
        }
      }

      aside.sidebar {
        .widget {
          &.widget-doc {
            padding-right: 15px;
          }
          .body-widget {
            .liste-widget {
              .element {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    section.section-surfooter {
      .conteneur-surfooter {
        .row-surfooter {
          .surfooter-main {
            @include make-row();
            .conteneur-logo-cta {
              @include make-col(6);
              @include flex(flex-start, center, column);
              border-bottom: none;
              margin-bottom: 0;
              padding-bottom: 0;
              .logo {
                margin-bottom: 20px;
                margin-right: 0;
              }
              .btn-cta {
                margin-right: 0;
                &.btn-contact {
                  margin-bottom: 10px;
                }
              }
            }
            .conteneur-menu-rs {
              @include make-col(6);
              @include flex(center, center, column);
              .rappel-menu {
                margin-bottom: 15px;
                ul {
                  @include flex(center, null, column);
                  li {
                    margin-right: 0;
                  }
                }
              }
              .conteneur-rs {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    section.section-subfooter {
      .conteneur-subfooter {
        flex-wrap: wrap;
        text-align: center;
        .menu-footer {
          ul {
            li{
              padding-right: 14px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}