@media screen and (max-width: 991px) {
  .tooltip {
    display: none;
  }

  header {
    background: $primary;
    border-bottom: 1px solid lighten($primary, 10%);
    height: 71px;
    .conteneur-header {
      .row-header {
        @include destroy-row();
        display: flex !important;
        @include flex(center, space-between);
      }
      .conteneur-logo {
        @include destroy-col();
        height: 70px;
        padding: 10px 0;
        .logo {
          max-height: 100%;
          width: auto;
        }
      }
      .wrapper-header {
        @include destroy-col();
        .surheader {
          justify-content: flex-end;
          height: auto;
          padding: 0;
          border-bottom: none;
          .accessibilite {
            display: none;
          }
        }
        .subheader {
          display: none;
        }
      }
    }
  }

  .page-wrapper {

    // home
    &.home {
      section.section-missions {
        background-image: none;
        padding-top: 71px;
        margin-bottom: 50px;
        opacity: 1;
        @include transform(translate(0,0));
        .conteneur-missions {
          padding: 50px 15px;
          @include transform(translate(0,0));
          opacity: 1;
          h1 {
            font-size: 30px;
          }
        }
      }
      section.section-thematique-une {
        opacity: 1;
        @include transform(translate(0,0));
        .conteneur-thematique-une {
          @include transform(translate(0,0));
          opacity: 1;
          .conteneur-une {
            .conteneur-visuel, .conteneur-detail {
              @include make-col(12);
            }
            .conteneur-visuel {
              @include flex(center, center, column);
              height: auto;
              padding-right: 20px;
              margin-bottom: 30px;
              &::before {
                top: -70px;
                left: -20px;
              }
              .visuel {
                position: relative;
                right: unset;
                max-width: 100%;
                height: auto;
              }
            }
            .conteneur-detail {
              @include make-col-offset(0);
              padding-left: 20px;
              .header-thematique {
                @include flex(center, center, column);
              }
              .phrase-explicative {
                margin-top: 0;
                text-align: center;
              }
            }
          }
        }
      }
      section.section-newsletter {
        .conteneur-newsletter {
          opacity: 1;
          @include transform(translateY(0));
          .encadre-newsletter {
            padding: 35px 55px;
            .titre-newsletter {
              font-size: 18px;
              letter-spacing: normal;
            }
            #mailpoet_form_2 {
              width: 100%;
              .mailpoet_form {
                width: 100%;

                .mailpoet_form_columns {
                  width: 100% !important;
                  margin-bottom: 0 !important;

                  .mailpoet_form_column {
                    flex-direction: column !important;


                    &:nth-of-type(2) {
                      .mailpoet_paragraph {
                        position: relative;
                        display: block;
                        min-height: 1.5rem;
                        padding-left: 0;
                        margin-bottom: 0 !important;

                        label {
                          position: relative;
                          margin-bottom: 0;
                          vertical-align: top;
                          cursor: pointer;
                        }
                      }
                    }

                    .mailpoet_paragraph {
                      flex-grow: 1;

                      &:nth-of-type(2) {
                        width: 159px;
                        flex-grow: 0;
                        margin-left: 15px;
                      }
                    }
                  }
                }

                .mailpoet_paragraph {
                  width: auto;
                  margin-bottom: 25px;

                  .mailpoet_form_column {
                    flex-basis: auto !important;
                  }

                  input:not(type[checkbox]) {
                    margin-right: 15px;
                    height: 40px;
                    border: none;
                    margin-bottom: 25px;

                  }

                  .mailpoet_submit {
                    padding-left: 65px;
                    flex-shrink: 0;
                    background: {
                      color: $info;
                      image: url('../img/pictos/mail.png');
                      repeat: no-repeat;
                      position: 25px center;
                    };

                    &::after {
                      @include pseudo-element(url('../img/pictos/css_sprites.png') no-repeat -10px -105px, 2, $alignement: null, $t: 50%, $l: 22px, $width: 21px, $height: 17px);
                      @include transform(translateY(-50%));
                      @include transition(filter, 300ms);
                    }

                    &:hover {
                      @media screen and (min-width: 992px) {
                        &::after {
                          filter: invert(1);
                        }
                      }
                    }
                  }
                }
              }
            }


            .form-newsletter {
              width: 100%;
              .form-group {
                @include flex(center, center, column);
                input[type="text"] {
                  margin-right: 0;
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
      section.section-en-un-clic {
        @include background($info, none);
        min-height: unset;
        padding-bottom: 40px;
        z-index: 1;
        &::after {
          display: none;
        }
        .conteneur-en-un-clic {
          opacity: 1;
          @include transform(translateY(0));
          .liste-acces {
            @include row-cols(2);
            width: unset;
            .acces {
              min-height: 110px;
            }
          }
        }
      }
      section.section-sante-mentale {
        padding-top: 100px;
        .conteneur-sante-mentale {
          opacity: 1;
          @include transform(translateY(0));
          .row-sante-mentale {
            .conteneur-video {
              &::before {
                z-index: -1;
              }
            }
            .conteneur-presentation {
              .conteneur-acces {
                @include row-cols(1);
                .acces {
                  @include flex(center, flex-start, row);
                  text-align: left;
                  &:first-of-type {
                    margin-bottom: 40px;
                  }
                  .conteneur-detail {
                    @include flex(flex-start);
                  }
                }
              }
            }
          }
        }
      }
      section.section-passer-a-laction {
        .conteneur-passer-a-laction {
          opacity: 1;
          @include transform(translateY(0));
          .conteneur-profils {
            @include row-cols(2);
            .conteneur-profil {
              .profil {
                margin: 15px 0;
                .titre-profil {
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }

    // toutes les pages à l'exception de la home
    &:not(.home){
      padding-top: 71px;
      background: none;
      .conteneur-ariane {
        margin-top: 30px;
      }
    }

    // pages de liste
    &.liste {

      &.liste-definitions {
        main.main-content {
          .conteneur-alphabet {
            height: auto;
          }
        }
      }

      // encadré des filtres
      .conteneur-filtres {
        form.filtres {
          @include flex(center, center, column);
          .form-group {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100% !important;
            max-width: unset;
          }
        }
      }

      // Contenu de la liste
      .conteneur-liste {

        // type en grille
        &.liste-grille {
          @include row-cols(2);
          .conteneur-element {
            .element {
              .header-element {
                margin-bottom: 15px;
                .date {
                  margin-bottom: 0;
                  font-size: 15px;
                  padding-bottom: 0;
                  border-width: 2px;
                  .jour {
                    font-size: 25px;
                    margin-right: 5px;
                  }
                }
              }
              .body-element {
                .titre-element {
                  font-size: 20px;
                  margin-bottom: 15px;
                }
                .chapo-element {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }

    //pages de détail
    &.detail {

      &.page-standard {
        main.main-content {
          .conteneur-detail {
            .sommaire {
              .contenu-sommaire {
                flex-wrap: nowrap;
                .conteneur-h2 {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      main.main-content {
        @include make-col(12);
        .conteneur-detail {
          .conteneur-caracteristiques-info {
            @include flex(null, null, column);
            margin-bottom: 0;
            .infos-complementaires {
              width: 100%;
              margin-right: 0;
              order: 1;
              @include font(null,15px);
            }
            .caracteristiques {
              width: 100%;
              order: 0;
              margin-bottom: 40px;
              @include font(null,15px);
              .caracteristique {
                width: 45%;
              }
            }
          }
        }
      }

      aside.sidebar {
        @include make-col(12);
        @include flex(null, space-between);
        flex-wrap: wrap;
        .conteneur-partage {
          width: 100%;
          .titre-partage {
            width: auto;
            text-align: left;
            margin-bottom: 0;
          }
        }
        .widget {
          width: 100%;
          box-shadow: none;
          &.widget-doc, &.widget-lien {
            width: 50%;
          }
          &.widget-doc {
            padding-right: 30px;
          }
          &.widget-mot {
            .liste-widget {
              .element {
                display: inline-block;
                border-bottom: none;
                padding: 0;
                &::after {
                  content: ', ';
                  margin-left: -4px;
                }
                &:last-of-type {
                  &::after {
                    display: none;
                  }
                }
                a {
                  border-bottom: 1px solid $info;
                }
              }
            }
          }
          .body-widget {
            .liste-widget {
              .element {
                @include font(null, 17px);
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }

  footer {
    section.section-subfooter {
      .conteneur-subfooter {
        flex-wrap: wrap;
        text-align: center;
      }
    }
  }
}