/*
-- README --
Ce fichier style le menu en version mobile.
Ici, la transition se fait à partir de 991px de largeur. Vous êtes libre de changer cette valeur, mais respecter les breakpoints de Bootstrap.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Les niveaux 1 ne sont pas cliquables dans cette version. En cas de besoin, vous pouvez reprendre et adapter la structure des niveaux 2 pour les niveaux 1.
Burger proposé sur 3 niveaux de profondeur. En cas de niveaux 4, se contenter de pages carrefour.
*/

@media screen and (max-width: 991px) {
  .megamenu {
    display: none;
  }

  .burger {
    &.is-opening {
      .conteneur-menu-mobile {
        display: block;
        @include transform(scaleX(0));

      }
    }
    &.active {
      .conteneur-menu-mobile {
        display: block;
        @include transform(scaleX(1));
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling
        .burger-header, .menu-mobile, .burger-footer {
          opacity: 1;
        }
      }
    }
    &.is-closing {
      .conteneur-menu-mobile {
        display: block;
        @include transform(scaleX(0));
        @include transition(transform, 300ms, linear, 300ms);
        .burger-header, .menu-mobile, .burger-footer {
          opacity: 0;
          @include transition(all, 300ms, linear, null);
        }
      }
    }

    // global
    ul {
      list-style: none;
      padding: 0 20px;
      margin-bottom: 0;
      li {
        @include flex(center, space-between);
        font-family: "Faune", serif;
        padding: 15px 0;
        border-bottom: 1px solid $gray-400;
      }
    }

    .plus {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url('../img/pictos/css_sprites.png') no-repeat -10px -10px;
      margin-left: 10px;
      cursor: pointer;
    }
    .conteneur-burger {
      .hamburger {
        @include flex(center, null, column);
        padding-right: 0;
        padding-bottom: 8px;
        .hamburger-inner {
          background-color: #fff;
          &::before, &::after {
            background-color: #fff;
          }
        }
      }
      .nom-menu {
        @include font(#fff, 15px, bold, $t: uppercase, $f: "Faune");
      }
    }
    .conteneur-menu-mobile {
      display: none;
      position: fixed;
      top: 71px;
      bottom: 0;
      right: 0;
      left: 0;
      background: #fff;
      @include transform-origin(left center);
      @include transition();
      .burger-header {
        position: relative;
        display: block;
        height: 70px;
        opacity: 0;
        @include transition(all, 300ms, linear, 300ms);
        &.active {
          .retour-burger {
            display: block;
          }
        }
        .rappel-menu {
          @include font($secondary, 28px, normal, $f: "Faune");
        }
        .retour-burger {
          display: none;
        }
        .burger-header-inner {
          position: absolute;
          @include flex(center, space-between);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 15px 20px;
        }
      }

      .burger-footer {
        z-index: 0;
        @include transition(all, 300ms, linear, 300ms);
        opacity: 0;
        .recherche {
          display: flex;
          position: relative;
          transform: none;
          padding-right: 0;
          height: auto;
          margin-top: 50px;
          z-index: 0;
          .form-group {
            width: 100%;
            margin-bottom: 0;
          }
          .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 15px;
          }

        }

        .conteneur-rs {
          display: block !important;
          width: 100%;
          padding-top: 50px;
          text-align: center;
          .rs {
            font-size: 25px;
            padding: 15px 30px;
            margin-right: 0;
          }
        }
      }

      .menu-mobile {
        position: relative;
        z-index: 1;
        opacity: 0;
        @include transition(all, 300ms, linear, 300ms);
        > li { // niveaux 1
          > a {
            @include font($primary, $w: 600, $t: uppercase);
          }

          > ul { // conteneur niveau 2
            > li { // niveaux 2
              > a {
                @include font($secondary, 19px, bold);
              }

              > ul { // conteneur niveau 3
                > li { // niveaux 3
                  > a {
                    @include font($primary, 17px, normal);
                  }
                  > ul { // conteneur niveau 4
                    > li { // niveaux 4
                      > a {
                        @include font($info, 15px, normal);
                      }
                    }
                  }
                }
              }
            }
          }


          ul { // tous les sous-niveaux
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(100vh - 145px);
            background: #fff;
            padding: 0 20px;
            @include transform(translateX(100vw));
            @include transition(transform);
            &.active {
              @include transform(translateX(0));
            }
          }
        }
      }
    }
  }
}
