// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $hover-border: $border, $color: #fff, $color-hover: $background, $hover-background: $color, $transform: uppercase) {
  position: relative;
  color: $color;
  border-color: $border;
  background-color: $background;
  overflow: hidden;
  z-index: 0;
  text-transform: $transform;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $hover-background;
    z-index: -1;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  @include hover-focus-active() {
    color: $color-hover;
    border-color: $hover-border;
    &::before {
      top: 0;
      bottom: unset;
      height: 100%;
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
  }
}

@mixin button-outline-variant($color, $hover: #fff, $border: $color, $hover-border: $border, $hover-background: $color, $transform: null, $weight: 400) {
  position: relative;
  color: $color;
  border-color: $border;
  background-color: transparent;
  overflow: hidden;
  z-index: 0;
  text-transform: $transform;
  font-weight: $weight;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $hover-background;
    z-index: -1;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  @include hover-focus-active() {
    color: $hover;
    border-color: $hover-border;
    &::before {
      top: 0;
      bottom: unset;
      height: 100%;
    }
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}
