footer {
  &.footer-home {
    section.section-surfooter {
      @include ariane(surfooter, $primary);
    }
    section.section-subfooter {
      @include ariane(subfooter);
    }

  }
  section.section-surfooter {
    padding: 40px 15px 30px 15px;
    background: $primary;

    // global surfooter
    a {
      color: #fff;
    }
    .conteneur-surfooter {
      .row-surfooter {
        @include make-row();
        .surfooter-main {
          @include make-col-ready();
          @include make-col(7);
          .conteneur-logo-cta {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid darken($primary,8%);
            .logo {
              margin-right: 65px;
            }
            .btn-cta {
              position: relative;
              @include button-variant($primary,darken($primary,8%));
              margin-right: 15px;
              text-transform: none;
              font-weight: normal;
              padding-left: 55px;
              &:hover {
                @media screen and (min-width: 992px) {
                  &::after {
                    filter: invert(0.5);
                  }
                }
              }
              &::after {
                @include pseudo-element(no-repeat);
                @include transform(translateY(-50%));
              }
              &.btn-contact {
                &::after {
                  width: 21px;
                  height: 17px;
                  top: 50%;
                  left: 20px;
                  background: {
                    image: url('../img/pictos/css_sprites.png');
                    position: -10px -105px;
                  };
                }
              }
              &.btn-newsletter {
                &::after {
                  width: 18px;
                  height: 19px;
                  top: 50%;
                  left: 20px;
                  background: {
                    image: url('../img/pictos/css_sprites.png');
                    position: -162px -49px;
                  };
                }
              }
            }
          }
          .conteneur-menu-rs {
            @include flex();
            .rappel-menu {
              ul {
                @include ul-simple();
                li {
                  display: inline-block;
                  margin-right: 30px;
                  a {
                    font-size: 15px;
                    @include underline(#fff);
                  }
                }
              }
            }
            .conteneur-rs {
              margin-left: 40px;
              .rs {
                color: #fff;
                padding: 10px;
                @include rise-children(5px);
              }
            }
          }
        }
        .conteneur-partenaires {
          @include flex();
          @include make-col-ready();
          @include make-col(5);
          .partenaire {
            margin-right: 20px;
            @include rise-children(5px);
          }
        }
      }
    }
  }
  section.section-subfooter {
    //@include ariane(subfooter);
    padding: 20px 0;
    // global subfooter
    a {
      @include underline($gray-700);
      color: $gray-700;
    }
    .conteneur-subfooter {
      @include flex(center, center);
      @include font($gray-700, 12px);
      .menu-footer {
        ul {
          @include ul-simple();
          li {
            position: relative;
            display: inline-block;
            padding-right: 24px;
            margin-left: 20px;
            &::after {
              @include pseudo-element($gray-700, $alignement: null, $t: 50%, $r: 0, $width: null, $height: null);
              @include circle(4px);
              @include transform(translateY(-50%));
            }
          }
        }
      }
      .copywright {
        margin-left: 20px;
      }
    }
  }
}