body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling
  &.no-scroll {
    position: fixed; // FIX IOS : évite que le body défile (overflow insuffisant)
    overflow: hidden;
    left: 0;
    right: 0;
  }

  &.modal-open {
    header {
      padding-right: 17px;
    }
  }
}

.page-wrapper {
  padding-top: 75px; // hauteur du header sticky à compenser
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

pre{
  display: table;
  width: 100%;
}

.tableau-responsive {
  overflow-x: auto;
}

.rgaa-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

* {
  outline: none !important;
}

.categorie {
  position: relative;
  padding-left: 25px;
  color: $info;
  text-transform: uppercase;
  font-size: 13px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 25px;
    height: 100%;
    background: url('../img/pictos/tag.png') no-repeat left center;
  }
}

.hidden{
  display: none !important;
}
