/*
-- README --
Ce fichier style le header.
2 Headers sont proposés :
- full sticky header (par défaut) : la totalité du header est sticky et reste inchangée quand on scroll
- sticky header partiel : seulement une partie du header devient sticky au scroll (en général, la partie avec le menu). Vous devrez décommentez le sticky header partiel et commentez le full sticky header pour changer de configuration. Une partie en JS sera aussi à décommenter.
Vous pouvez changer l'apparence d'un full sticky header au scroll (pour diminuer certaines parties ou changer sa couleur par exemple) en adaptant le JS d'un sticky header partiel pour ajouter une class au scroll.
NB : en responsive, il faudra sans doute adapter le header et placer certains éléments dans le menu burger (réseaux sociaux, recherche, autres liens, etc) afin de gagner de la place.
*/


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: transparent;
  z-index: 10;
  opacity: 0;
  @include transition(opacity);
  &.loaded {
    opacity: 1;
  }
  &.scrolling {
    background: $primary;
  }
  .conteneur-header {
    position: relative;
    display: flex;
    .row-header {
      @include make-row();
      width: 100%;
    }
    .conteneur-logo {
      @include flex();
      @include make-col-ready();
      @include make-col(4);
      overflow: hidden;
      flex-shrink: 0;
      &:hover {
        @media screen and (min-width: 992px) {
          .logo {
            opacity: 0;
            @include transition();
          }
          .texte-logo {
            opacity: 1;
            @include transition($style: linear, $delay: 150ms);
          }
        }
      }
      .logo {
        @include transition($style: linear, $delay: 150ms);
        width: 226px;
        opacity: 1;
      }
      .texte-logo {
        position: absolute;
        top: 0;
        left: 20px;
        width: 100%;
        height: 100%;
        @include flex();
        @include font(#fff, 25px, 700, $a: center);
        @include transition();
        opacity: 0;
      }
    }
    .wrapper-header {
      @include flex(null, null, column);
      @include make-col-ready();
      @include make-col(8);
      width: 100%;
      position: static;
      .surheader {
        @include flex($justify: space-between);
        border-bottom: 1px solid lighten($primary, 10%);
        padding: 20px 0 20px 55px;
        height: 60px;
        .accessibilite {
          position: relative;
          @include font(#fff, 14px, 600);
          cursor: pointer;
          @include rise(5px);
          strong {
            @include font(null, 20px, 700);
          }
        }
      }
      .subheader {
        @include flex($justify: flex-end);
        height: 70px;
        form.recherche {
          position: relative;
          @include flex();
          padding-right: 20px;
          margin-right: 20px;
          &::after {
            @include pseudo-element(darken($primary, 10%), $alignement: null, $r: 0, $t: 50%, $width: 7px, $height: 7px, $rad: 50%);
            @include transform(translateY(-50%));
          }
          label {
            @include rgaa-hidden();
          }
          input[type="text"] {
            border: none;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            border-radius: 2rem;
            background: #fff;
            @include font($primary, 12px, $f: "Montserrat");
            padding: 5px 20px;
            height: 35px;
            width: 300px;
            margin-right: 10px;
            @include transition();
            &:focus-within {
              background: lighten($primary,55%);
              color: darken($primary, 20%);
              &::placeholder {
                color: darken($primary, 10%);
              }
            }
            &::placeholder {
              @include font($gray-600, 12px, $s: italic);
            }
          }
          .recherche-submit {
            position: relative;
            border: none;
            @include background(transparent,url('../img/pictos/css_sprites.png'), $p: -162px -88px);
            width: 18px;
            height: 18px;
            cursor: pointer;
            margin-left: 10px;
            span {
              @include rgaa-hidden();
            }
          }
        }
        .conteneur-rs {
          .rs {
            @include font(#fff, 17px);
            margin: 0 10px;
            @include rotate-children();
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}