/*
-- README --
Ce fichier est utilisé pour le style de la home (uniquement le contenu de la balise main).
*/

.page-wrapper {
  &.home {
    padding-top: 0;
    margin-top: 0;

    &.loaded {
      section.section-missions {
        opacity: 1;
        @include transform(translate(0, 0));

        .conteneur-missions {
          @include transform(translate(0, 0));
          opacity: 1;
        }
      }

      section.section-thematique-une {
        opacity: 1;
        @include transform(translate(0, 0));

        .conteneur-thematique-une {
          @include transform(translate(0, 0));
          opacity: 1;
        }
      }
    }

    section.section-missions {
      position: relative;
      padding-top: 130px;
      @include background($primary, url('../img/home/ariane/bg-missions.jpg'), $s: initial, $p: bottom right);
      z-index: 1;
      opacity: 0;
      @include transform(translate(-50px, -100px));
      @include transition(all, 500ms);

      .conteneur-missions {
        @include flex($direction: column);
        text-align: center;
        padding-top: 80px;
        padding-bottom: 140px;
        opacity: 0;
        @include transform(translate(0, 10px));
        @include transition(all, 500ms, linear, 600ms);

        h1 {
          @include title-section(#fff, 39px, normal);
          max-width: 800px;
          line-height: 1.3;
          margin-bottom: 50px;

          strong {
            @include font($warning, inherit, $w: bold);
          }
        }

        .btn-missions {
          position: relative;
          @include button-variant(#fff, #fff, $color: $info);
          padding-right: 50px;
          text-transform: uppercase;

          &::after {
            @include pseudo-element(url('../img/pictos/css_sprites.png') no-repeat -91px -105px, $alignement: null, $t: 50%, $r: 22px, $width: 8px, $height: 13px);
            @include transform(translateY(-50%));
            @include transition(filter, 300ms);
          }

          &:hover {
            @media screen and (min-width: 992px) {
              &::after {
                filter: invert(1);
              }
            }
          }
        }
      }
    }

    section.section-thematique-une {
      padding-top: 70px;
      padding-bottom: 50px;
      opacity: 0;
      @include ariane(thematique);
      @include transform(translate(-50px, -100px));
      @include transition(all, 500ms);

      .conteneur-thematique-une {
        opacity: 0;
        @include transform(translate(0, 10px));
        @include transition(all, 500ms, linear, 600ms);

        .conteneur-une {
          @include make-row();

          .conteneur-visuel {
            position: relative;
            @include make-col-ready();
            @include make-col(4);
            padding-right: 0;
            height: 530px;

            &::before {
              @include pseudo-element(url('../img/home/thematique-forme.png') no-repeat, $alignement: null, $t: -70px, $l: -200px, $width: 420px, $height: 400px);
            }

            img {
              position: absolute;
              right: 0;
              z-index: 1;
            }
          }

          .conteneur-detail {
            @include make-col-ready();
            @include make-col(7);
            @include make-col-offset(1);
            padding-left: 0;

            .header-thematique {
              @include flex(flex-end);

              .titre-section {
                @include title-section($primary, 46px);
                margin-right: 30px;
              }

              .thematique {
                @include title-section(#fff, 17px, normal, uppercase);
                background: $secondary;
                padding: 3px 7px;
                margin-bottom: 17px;
              }
            }

            .phrase-explicative {
              @include title-section($info, 33px, normal);
            }

            .conteneur-contenus {
              display: flex;
              flex-wrap: wrap;
              margin-top: 65px;
              @include make-row();
              @include row-cols(2);

              .element {
                @include flex();
                @include make-col-ready();
                margin-bottom: 40px;

                &:hover {
                  @media screen and (min-width: 992px) {
                    .type {
                      @include transform(rotate(-180deg));

                      &::after {
                        @include transform(scale(1) rotate(180deg));
                      }
                    }
                  }
                }

                .type {
                  position: relative;
                  flex-shrink: 0;
                  @include circle(55px);
                  @include background($primary);
                  margin-right: 30px;
                  overflow: hidden;
                  @include transition();

                  &::before {
                    @include pseudo-element(null, 1, $alignement: null, $t: 50%, $l: 50%, $width: null, $height: null);
                    @include transform(translate(-50%, -50%));
                  }

                  &::after {
                    @include pseudo-element(null, 2);
                    @include background($secondary, url('../img/pictos/types/plus.png'));
                    @include transform(scale(0));
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                  }

                  &.actualite {
                    &::before {
                      @include background(null, url('../img/pictos/css_sprites.png'), $p: -113px -10px);
                      width: 29px;
                      height: 20px;
                    }
                  }

                  &.page {
                    &::before {
                      @include background(null, url('../img/pictos/css_sprites.png'), $p: -113px -50px);
                      width: 19px;
                      height: 26px;
                    }
                  }

                  &.temoignage {
                    &::before {
                      @include background(null, url('../img/pictos/css_sprites.png'), $p: -55px -60px);
                      width: 27px;
                      height: 23px;
                    }
                  }

                  &.revue {
                    &::before {
                      @include background(null, url('../img/pictos/css_sprites.png'), $p: -10px -60px);
                      width: 25px;
                      height: 25px;
                    }
                  }
                }

                .titre-element {
                  @include font($info, 17px, normal);
                  margin-bottom: 0;
                }
              }
            }

            .section-footer {
              @include flex(null, center);

              .more {
                position: relative;
                text-transform: uppercase;
                padding: 0.375rem 45px 0.375rem 1.2rem;

                &:hover {
                  @media screen and (min-width: 992px) {
                    &::after {
                      @include transform(translateY(-50%) scale(0.7));
                      filter: invert(0.5);
                    }
                  }
                }

                &::after {
                  @include pseudo-element(url('../img/pictos/css_sprites.png') no-repeat -162px -10px, $alignement: null, $t: 50%, $r: 18px, $width: 18px, $height: 19px);
                  @include transform(translateY(-50%));
                }
              }
            }
          }
        }
      }
    }

    section.section-newsletter {
      padding-top: 50px;
      padding-bottom: 60px;
      @include ariane(newsletter);

      &.animated {
        .conteneur-newsletter {
          opacity: 1;
          @include transform(translateY(0));
        }
      }

      .conteneur-newsletter {
        opacity: 0;
        @include transform(translateY(15px));
        @include transition();

        .titre-section {
          @include title-section($info, 51px, normal);
          text-align: center;
          margin-bottom: 30px;
        }

        .encadre-newsletter {
          position: relative;
          @include flex(center, null, column);
          background: $warning;
          color: $info;
          padding: 40px 55px;
          box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.19);

          &::before {
            @include pseudo-element(url('../img/home/forme-newsletter.png'), -1, $alignement: null, $t: -15px, $l: -35px, $width: 54px, $height: 56px);
          }

          .titre-newsletter {
            @include title-section($info, 21px, normal, uppercase);
            letter-spacing: 1.5px;
            margin-bottom: 30px;
          }

          #mailpoet_form_2 {
            .mailpoet_form {
              @include flex(center, center);
              flex-wrap: wrap;
              width: 750px;

              .mailpoet_form_columns {
                width: 750px !important;
                display: flex;
                flex-direction: column;
                margin-bottom: 0 !important;

                .mailpoet_form_column {
                  flex-direction: row;
                  margin-left: 0 !important;

                  &:nth-of-type(2) {
                    .mailpoet_paragraph {
                      position: relative;
                      display: block;
                      min-height: 1.5rem;
                      padding-left: 0;
                      margin-bottom: 0 !important;

                      label {
                        position: relative;
                        margin-bottom: 0;
                        vertical-align: top;
                        cursor: pointer;
                      }
                    }
                  }

                  .mailpoet_paragraph {
                    flex-grow: 1;

                    &:nth-of-type(2) {
                      width: 159px;
                      flex-grow: 0;
                      margin-left: 15px;
                    }
                  }
                }
              }

              .mailpoet_paragraph {
                width: auto;
                margin-bottom: 25px;

                .mailpoet_form_column {
                  flex-basis: auto !important;
                }

                input:not(type[checkbox]) {
                  margin-right: 15px;
                  height: 40px;
                  border: none;
                  margin-bottom: 25px;

                }

                .mailpoet_submit {
                  padding-left: 65px;
                  flex-shrink: 0;
                  background: {
                    color: $info;
                    image: url('../img/pictos/mail.png');
                    repeat: no-repeat;
                    position: 25px center;
                  };

                  &::after {
                    @include pseudo-element(url('../img/pictos/css_sprites.png') no-repeat -10px -105px, 2, $alignement: null, $t: 50%, $l: 22px, $width: 21px, $height: 17px);
                    @include transform(translateY(-50%));
                    @include transition(filter, 300ms);
                  }

                  &:hover {
                    @media screen and (min-width: 992px) {
                      &::after {
                        filter: invert(1);
                      }
                    }
                  }
                }
              }
            }
          }

          .form-newsletter {
            width: 750px;

            .form-group {
              display: flex;
              margin-bottom: 25px;

              input {
                margin-right: 15px;
                height: 40px;
                border: none;
              }
            }

            .btn {
              padding-left: 65px;
              flex-shrink: 0;

              &::after {
                @include pseudo-element(url('../img/pictos/css_sprites.png') no-repeat -10px -105px, 2, $alignement: null, $t: 50%, $l: 22px, $width: 21px, $height: 17px);
                @include transform(translateY(-50%));
                @include transition(filter, 300ms);
              }

              &:hover {
                @media screen and (min-width: 992px) {
                  &::after {
                    filter: invert(1);
                  }
                }
              }
            }
          }
        }
      }
    }

    section.section-en-un-clic {
      min-height: 810px;
      @include ariane(clic);

      &.animated {
        .conteneur-en-un-clic {
          opacity: 1;
          @include transform(translateY(0));
        }
      }

      .conteneur-en-un-clic {
        @include flex(center, null, column);
        opacity: 0;
        @include transform(translateY(15px));
        @include transition();

        .titre-section {
          @include title-section(#fff, 47px, bold);
          text-align: center;
          padding: 85px 0 70px 0;
        }

        .liste-acces {
          @include make-row();
          @include row-cols(3);
          width: 995px;

          .conteneur-acces {
            @include make-col-ready();
            @for $i from 1 through 6 {
              &:nth-of-type(#{$i}) {
                .acces {
                  background-image: url('../img/pictos/forme-acces-#{$i}.jpg');
                }
              }
            }

            .acces {
              position: relative;
              @include flex();
              @include background(#fff, $p: left center);
              min-height: 145px;
              margin-bottom: 40px;
              color: $info;
              box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.19);
              padding-right: 15px;
              overflow: hidden;
              @include transition();

              &:hover {
                @media screen and (min-width: 992px) {
                  color: #fff;
                  box-shadow: 2px 7px 3px -5px rgba(0, 0, 0, 0.50);
                  &::before {
                    width: 100%;
                    top: 0;
                    @include border-radius(0);
                  }
                  .conteneur-picto {
                    .picto {
                      @include transform(rotate(-30deg));
                    }
                  }
                }
              }

              &::before {
                @include pseudo-element(#ff4e60, 0, $alignement: null, $t: 50%, $l: 0, $width: 0);
                @include border-radius(50%);
              }

              .conteneur-picto {
                position: relative;
                z-index: 1;
                flex-shrink: 0;

                .picto {
                  margin-left: 15px;
                  @include transition();
                }
              }

              .titre-acces {
                position: relative;
                @include font(null, 21px, 600);
                margin-left: 65px;
                margin-bottom: 0;
                -ms-word-break: break-all;
                word-break: break-all;
                word-break: break-word;
                z-index: 1;
              }
            }
          }
        }
      }
    }

    section.section-sante-mentale {
      @include ariane(sante);
      padding-bottom: 95px;

      &.animated {
        .conteneur-sante-mentale {
          opacity: 1;
          @include transform(translateY(0));
        }
      }

      .conteneur-sante-mentale {
        opacity: 0;
        @include transform(translateY(15px));
        @include transition();

        .row-sante-mentale {
          @include make-row();
        }

        .conteneur-video {
          position: relative;
          @include make-col-ready();
          @include make-col(7);

          &::before {
            @include pseudo-element(url('../img/home/forme-video.png'), 2, $alignement: null, $t: -140px, $l: -95px, $width: 551px, $height: 557px);
          }

          iframe {
            position: relative;
            z-index: 3;
          }
        }

        .conteneur-presentation {
          @include make-col-ready();
          @include make-col(5);

          .titre-section {
            @include title-section($info, 34px, normal);
            margin-bottom: 60px;

            strong {
              display: block;
              @include title-section($primary, 43px, bold);
              margin-top: -5px;
            }
          }

          .conteneur-acces {
            .acces {
              display: flex;
              margin-bottom: 60px;

              &:hover {
                @media screen and (min-width: 992px) {
                  .conteneur-picto {
                    @include transform(translateY(-5px));
                  }
                  .conteneur-detail {
                    .titre-acces {
                      @include transform(translateY(-6px));

                      &::after {
                        @include transform(translateY(6px));
                        left: 0;
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .conteneur-picto {
                width: 85px;
                flex-shrink: 0;
                @include transition(transform, 300ms);
              }

              .conteneur-detail {
                @include flex(flex-start, null, column);

                .titre-acces {
                  position: relative;
                  display: inline-block;
                  @include title-section($primary, 21px, bold);
                  margin-bottom: 10px;
                  @include transition(transform, 300ms);

                  &::after {
                    @include pseudo-element($primary, $alignement: null, $b: -1px, $l: 50%, $width: 0, $height: 1px);
                  }
                }

                .description-acces {
                  @include font($info);
                }
              }
            }
          }
        }
      }
    }

    section.section-passer-a-laction {
      position: relative;
      padding-bottom: 60px;
      @include ariane(profils, $bg);

      &.animated {
        .conteneur-passer-a-laction {
          opacity: 1;
          @include transform(translateY(0));
        }
      }

      .conteneur-passer-a-laction {
        opacity: 0;
        @include transform(translateY(15px));
        @include transition();

        .titre-section {
          @include title-section($primary, 47px, bold);
          text-align: center;
          padding: 65px 0 70px 0;
        }

        .conteneur-profils {
          @include make-row();
          @include row-cols(4);

          .conteneur-profil {
            @include make-col-ready();
            @for $i from 1 through 4 {
              &:nth-of-type(#{$i}) {
                .profil {
                  .conteneur-visuel {
                    &::after {
                      @include background(null, url('../img/home/profils/forme-profil-#{$i}.png'));
                    }
                  }
                }
              }

            }

            .profil {
              @include flex(center, null, column);

              &:hover {
                @media screen and (min-width: 992px) {
                  .conteneur-visuel {
                    &::before {
                      opacity: 0;
                    }

                    .visuel {
                      filter: none;
                    }
                  }
                  .titre-profil {
                    @include transform(translateY(-7px));
                  }
                }
              }

              .conteneur-visuel {
                position: relative;
                width: 280px;
                height: 320px;
                overflow: hidden;

                &::before {
                  @include pseudo-element(rgba(#009cd3, 0.4), 2, $alignement: 'top left');
                }

                &::after {
                  @include pseudo-element(null, 3);
                }

                .visuel {
                  position: relative;
                  z-index: 1;
                  filter: grayscale(100%) hue-rotate(55deg);
                  @include transition();
                }
              }

              .titre-profil {
                @include title-section($primary, 25px, normal);
                text-align: center;
                margin-top: 30px;
                max-width: 250px;
                @include transition();
              }
            }
          }
        }
      }
    }
  }

}