/*
-- README --
Ce fichier style le menu en version desktop.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Seul le megamenu avec des niveaux 1 non cliquables est disponible pour le moment.
*/

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }


  .megamenu {
    @include flex($justify: null);
    flex-grow: 1;
    z-index: 8;

    .accueil {
      position: relative;
      @include flex($justify: center);
      width: 60px;
      z-index: 1;
      @include rise-children(5px);

      &:hover {
        @media screen and (min-width: 992px) {
          &::before {
            @include transform(rotate(360deg) scale(0));
          }
        }
      }

      &::before {
        @include pseudo-element(url('../img/pictos/css_sprites.png') -60px -10px, $zindex: -1, $alignement: null, $t: -7px, $l: 8px, $width: 33px, $height: 25px);
      }
    }

    .menu-desktop { // ul
      @include flex();
      @include ul-simple();
      z-index: 10;

      ul { // tous les ul du menu
        @include ul-simple($mb: null);
      }

      > li { // niveau 1

        &.current {
          > a {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              bottom: 1px;
              left: 15%;
              width: 70%;
              height: 5px;
              background: $warning;
            }
          }
        }

        &.active {
          > a {
            color: $warning;
          }

          > ul {
            display: flex;
          }
        }

        > a { // a niveau 1
          position: relative;
          @include flex();
          @include font(#fff, $w: 600, $t: uppercase);
          padding: 0 15px;
          cursor: pointer;
          height: 60px;
          @include transition(color);

          &:hover {
            @media screen and (min-width: 992px) {
              // animation
            }
          }
        }

        > ul { // conteneur niveau 2 - dropdown
          position: absolute;
          display: none;
          top: 59px;
          left: 0;
          right: 0;
          flex-wrap: wrap;
          background: #fff;
          padding: 15px 30px 5px 30px;
          border-top: none;
          border-bottom: 5px solid $primary;

          > li { // niveau 2
            padding: 0 60px 15px 0;
            &:hover {
              @media screen and (min-width: 992px) {
                > a {
                  color: darken($secondary, 20%);
                }
                > ul {
                  &::before {
                    background-color: darken($secondary, 20%);
                  }
                  > li {
                    > a {
                      &::before {
                        background-color: darken($secondary, 20%);

                      }
                    }
                  }
                }
              }
            }

            > a {
              position: relative;
              display: block;
              @include font($secondary, 19px, bold, $f: "Faune");
              @include transition(color);
            }

            > ul { // conteneur niveau 3
              position: relative;
              padding-left: 20px;

              &::before {
                @include pseudo-element($secondary, $alignement: null, $l: 10px, $t: 0, $width: 1px);
              }

              > li { // niveau 3
                > a {
                  position: relative;
                  display: inline-block;
                  @include font($primary, 17px, normal, $f: "Faune");
                  @include underline($primary);

                  &:hover {
                    @media screen and (min-width: 992px) {
                      // animation
                    }
                  }

                  &::before {
                    @include pseudo-element($secondary, $alignement: null, $l: -9px, $t: 13px, $width: 5px, $height: 1px);
                  }
                }

                > ul { // conteneur niveau 4
                  padding-left: 15px;

                  > li { // niveau 4
                    > a {
                      @include font($info, 15px, normal, $f: "Faune");
                      @include underline($info);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
