
@media print {

  .d-flex, .row {
    display: block !important;
  }

  .col-md-6, .col-12 {
    max-width: unset !important;
  }

  * {
    animation: none !important;
  }

  * {
    font-size: 0.4cm !important;
  }
  h1 {
    font-size: 1cm !important;

  }
  h2 {
    font-size: 0.6cm !important;
    &::before {
      display: none;
    }

    span {
      font-size: 0.6cm !important;
    }
  }
  h3 {
    font-size: 0.5cm !important;

    span {
      font-size: 0.5cm !important;
      &.last-word {
        &::after {
          display: none;
        }
      }
    }
  }

  .footer-detail {
    display: none !important;
  }



  @page {
    margin: 2.5cm 0 2.5cm 0;
  }

  // tous les éléments à cacher
  .conteneur-menu, .entry-main-footer, .at-share-btn-elements, .title-metas-right, .title-metas, .elementor-image figure {
    display: none !important;
  }

  .elementor-element {
    &.animated {
      animation: none !important;
    }
  }

  header {
    position: initial !important;
    background: $primary;
    margin-bottom: 30px;
    .conteneur-header {
      display: block;
      .row-header {
        display: block !important;
        text-align: center;
        .conteneur-logo {
          display: block;
          padding: 15px 0;
          width: 100%;
          text-align: center;
          margin: auto;
          .texte-logo {
            display: none;
          }
        }

      }
    }

    .wrapper-header {
      display: none !important;
    }
  }

  .page-wrapper {
    &:not(.home) {
      padding-top: 0;
      background: none;
    }

    .conteneur-ariane, .conteneur-partage, .conteneur-carte {
      display: none !important;
    }

    .caracteristiques {
      background: none !important;
      display: block !important;
      padding: 0 !important;
      margin-bottom: 30px !important;
      &::before {
        display: none !important;
      }
      * {
        color: #000 !important;
      }
      .caracteristique {
        display: block !important;
        width: auto !important;
        .conteneur-picto {
          display: inline-block !important;
          float: left;
        }
        .conteneur-info {
          display: inline-block !important;
          text-align: left;
          a {
            display: inline-block !important;
            text-align: left;
          }
        }
      }
    }

    .conteneur-page {
      .row-page {
        display: block !important;

        main.main-content {
          @include destroy-col();
          .conteneur-detail {
            display: block !important;
          }
        }
        aside.sidebar {
          display: none;
        }
      }
    }
  }

  .conteneur-caracteristiques-info {
    display: block;
    @include destroy-col();
  }

  main {

    .contenu {

      ul {
        list-style-type: disc !important;
        font-weight: initial !important;

        li {
          padding-left: 0 !important;

          &::before {
            display: none !important;
          }
        }
      }

      a[href^=http]:after {
        content: '(' attr(href) ')';
        display: block;
        width: 100%;
      }
    }


    .contenu {
      margin-top: 5px !important;
    }

    aside {
      display: none !important;
    }

    main {
      flex: 100% !important;
      max-width: 100% !important;
    }



    .col-lg-9 {
      max-width: 100% !important;
      flex: 0 0 100% !important;
    }

    // tous les éléments qui sont en flex (à transformer en block pour firefox)
    .elementor-widget-wrap, .elementor-column-wrap, .elementor-element, .elementor-container, .elementor-tab-title {
      display: block !important;
    }

    .elementor-widget-video, .elementor-image-carousel {
      display: none !important;
    }

    .elementor-widget-accordion {
      .elementor-accordion {
        .elementor-tab-title {
          a {
            font-size: 0.5cm !important;
            text-decoration: none !important;
          }

          .elementor-accordion-icon {
            display: none !important;
          }
        }

        .elementor-tab-content {
          display: block !important;
        }
      }
    }

    .elementor-icon {
      i {
        font-size: 1cm !important;
      }
    }

    .row {
      display: block !important;
    }

    .elementor-row {
      display: block !important;
    }
  }


  footer {
    display: none;
  }

  .tableau-responsive {
    background: none !important;
    padding: 0 5px !important;
    margin-bottom: 50px;
    overflow-x: initial !important;
    max-width: 100% !important;

    table {
      page-break-inside: avoid;
      th {
        text-align: left !important;
        border: 1px solid #000 !important;
      }

      td {
        text-align: left !important;
        color: #000 !important;
        border: 1px solid #000 !important;
      }
    }
  }
}
