.page-wrapper {
  &.detail {
    aside.sidebar {
      @include make-col-ready();
      @include make-col(3);
      .widget {
        position: relative;
        background: #fff;
        box-shadow: -8px 8px 13px  rgba(0,0,0,0.13);
        margin-bottom: 35px;
        &.widget-menu {
          .header-widget {
            @include titre-sidebar($primary,'menu');
          }
          .liste-widget {
            .element {
              &.active {
                ul {
                  display: block;
                }
                .trigger-submenu {
                  @include transform(rotate(180deg));
                }
              }
              .element-inner {
                @include flex(center, space-between);
              }
              ul {
                width: 100%;
                display: none;
                padding-left: 10px;
                li {
                  list-style: none;
                  @include font($primary, 13px, $s: italic);
                  a {
                    color: inherit;
                  }
                }
              }
              .trigger-submenu {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: {
                  image: url('../img/pictos/angle-down.png');
                  repeat: no-repeat;
                  position: center center;
                  size: contain;
                };
                cursor: pointer;
                @include transition(transform);
                margin-left: 5px;
                flex-shrink: 0;
              }
            }
          }
        }
        &.widget-doc {
          .header-widget {
            @include titre-sidebar($info,'doc');
          }
        }
        &.widget-lien {
          .header-widget {
            @include titre-sidebar($primary,'lien');
          }
        }
        &.widget-mot {
          .header-widget {
            @include titre-sidebar($info,'mot');
          }
        }
        .body-widget {
          padding: {
            top: 15px;
            right: 50px;
            bottom: 30px;
            left: 25px;
          };
          .liste-widget {
           @include ul-simple();
            .element {
              border-bottom: 1px solid #b2cbc6;
              padding: 5px 0;
              @include font($info, 17px, 400);
              a {
                color: inherit;
                @include transition(color);
                &:hover {
                  @media screen and (min-width: 992px) {
                    color: $secondary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}