@mixin title-section($color, $size, $weight: bold, $transform: null){
  font-family: "Faune", serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-transform: $transform;
}

@mixin font($c, $z: 15px, $w: null, $t: null, $s: null, $f: null, $a: null){
  font: {
    family: $f;
    size: $z;
    weight: $w;
    style: $s;
  };
  color: $c;
  text-transform: $t;
  text-align: $a;
}

@mixin titre-h1(){
  @include font($primary, 38px, bold, $f: "Faune");
  margin-bottom: 30px;
  @media screen and (max-width: 991px) {
    font-size: 31px;
    margin-bottom: 28px;
  }
  @media screen and (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

@mixin titre-h2(){
  position: relative;
  @include font($primary, 33px, bold, $f: "Faune");
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 30px;
  @include trait-psycom($secondary, top);
  @media screen and (max-width: 991px) {
    font-size: 31px;
    margin-bottom: 28px;
  }
  @media screen and (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

@mixin titre-h3(){
  @include font($info, 32px, normal, $f: "Faune");
  margin-bottom: 30px;
  .last-word {
    position: relative;
    display: inline-block;
    padding-right: 65px;
    &::after {
      @include pseudo-element(url('../img/pictos/points-h3.png') no-repeat left center, null, 'bottom right', $width: 50px, $height: 26px);
      background-size: contain;
    }
  }

  @media screen and (max-width: 991px) {
    font-size: 29px;
    margin-bottom: 27px;
    .last-word {
      padding-right: 62px;
      &::after {
        width: 47px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 26px;
    margin-bottom: 22px;
    .last-word {
      padding-right: 50px;
      &::after {
        width: 39px;
      }
    }
  }
}

@mixin titre-h4(){
  display: inline-block;
  @include font($primary, 20px, 600, uppercase);
  border-bottom: 2px solid $primary;
  margin-top: 15px;
  padding-bottom: 8px;

  @media screen and (max-width: 991px) {

  }
  @media screen and (max-width: 767px) {

  }
}

@mixin titre-h5(){
  @include font($info, 20px, bold, $f: "Faune");
  margin-bottom: 30px;
  margin-top: 30px;

  @media screen and (max-width: 991px) {

  }
  @media screen and (max-width: 767px) {

  }
}

@mixin titre-h6(){
  @include font($primary, 17px, bold, $f: "Faune");
  margin-bottom: 30px;
  margin-top: 30px;

  @media screen and (max-width: 991px) {

  }
  @media screen and (max-width: 767px) {

  }
}

@mixin lien-wysiwyg() {
  @include font($success, inherit);
  border-bottom: 1px solid $success;
  @include transition();
  &:hover {
    border-bottom: 1px solid transparent;
  }
}

@mixin titre-sidebar($color, $image){
  position: relative;
  padding: {
    top: 15px;
    left: 65px;
    bottom: 10px;
  };
  &::before {
    @include pseudo-element(url('../img/pictos/sidebar/#{$image}.png') no-repeat top left, $width: 65px);
  }
  .titre-widget {
    @include font($color, 25px, bold, $f: "Faune");
  }

  @media screen and (max-width: 1339px) {
    padding: {
      top: 5px;
      left: 45px;
      bottom: 15px;
    };
    &::before {
      width: 35px;
      background-size: contain;
    }
    .titre-widget {
      font-size: 20px;
    }
  }
}