.page-wrapper {
  &:not(.home) {
    padding-top: 220px;
    background: {
      image: url('../img/header/top-pages-interieures.jpg');
      repeat: no-repeat;
      position: top center;
    };
    .conteneur-ariane {
      margin-bottom: 60px;
      .breadcrumbs {
        @include font($info, 16px, 600);
        .breadcrumb-link-wrap {
          position: relative;
          padding-right: 25px;
          margin-right: 15px;
          &::after { // separateur
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 8px;
            height: 100%;
            background: {
              image: url('../img/pictos/ariane.png');
              repeat: no-repeat;
              position: center center;
            };
          }
          a {
            position: relative;
            @include font($info, 16px, 600);
            span {
              @include underline($info);
            }
            
          }
        }
      }

    }
    main.main-content {
      h1 {
        @include font($secondary, 40px, $f: "Faune");
        margin-bottom: 40px;
      }
      .chapo {
        @include font($info, 18px, 700);
        line-height: 23px;
        margin-bottom: 60px;
      }
    }
    .conteneur-partage {
      position: relative;
      display: inline-block;
      border-bottom: 1px solid #b2cbc6;
      padding-bottom: 17px;
      margin-bottom: 50px;
      padding-right: 20px;
      .titre-partage {
        @include font($gray-600, 13px, 400, uppercase);
        margin-right: 7px;
      }
      .share-btn {
        color: $info;
        padding: 0 7px;
        cursor: pointer;
      }
    }
  }
  &.page-404 {
    margin-bottom: 60px;
  }
  &.page-sitemap {
    .plan-site {
      display: block;
      width: 100%;
      padding: 0 15px;
    }
    .grid {
      display: block;
    }
    .grid-item {
      margin-bottom: 20px;
      border-bottom: 1px solid $gray-300;
      width: 100%;
    }
    ul {
      li {
        position: relative;
        list-style: none;
        margin-bottom: 25px;
        a {
          display: inline-block;
          padding-bottom: 2px;
          @include font($warning, 17px, bold, uppercase);
          @include underline($warning);
        }

        &::before { // pour remplacer le list-style
          content: '\f101';
          position: absolute;
          @include font($warning, 24px, 900, $f: "Font Awesome 5 Free");
          left: -30px;
          top: -6px;

        }

        ul {
          margin-top: 25px;

          li {
            a {
              display: inline-block;
              padding-bottom: 2px;
              @include font($secondary, 19px, bold, none, $f: "Faune");
              @include underline($secondary);
            }
            &::before { // pour remplacer le list-style
              color: $secondary;
              top: -1px;
              font-size: 22px;
            }

            ul {
              margin-top: 25px;

              li {
                a {
                  display: inline-block;
                  padding-bottom: 2px;
                  @include font($primary, 17px, normal, $f: "Faune");
                  @include underline($primary);
                }
                &::before { // pour remplacer le list-style
                  color: $primary;
                  top: 0;
                  font-size: 19px;
                }
                ul {
                  margin-top: 25px;

                  li {
                    a {
                      display: inline-block;
                      padding-bottom: 2px;
                      @include font($info, 15px, normal, $f: "Faune");
                      @include underline($info);
                    }
                    &::before { // pour remplacer le list-style
                      color: $info;
                      font-size: 18px;
                      top: -2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.page-standard {
    .retour-haut {
      position: fixed;
      @include flex(center, center);
      bottom: 10px;
      right: 30px;
      width: 58px;
      height: 68px;
      background: {
        image: url('../img/pictos/forme-retour-haut.png');
        repeat: no-repeat;
        position: center center;
        size: contain;
      };
      @include font(#fff, 24px, bold, $f: "Font Awesome 5 Free");
    }
  }

  .cartographie-gem {
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: 100px;
    margin-top: 60px;
    width: 100%;
    .titre-carto {
      margin-bottom: 60px;
      @include titre-h2();
    }
    #map-carto-gem {
      height: 500px;
      width: 100%;
      z-index: 0;
      max-height: 75vh;
    }
  }

}