.page-wrapper {

  // Toutes les pages de liste
  &.liste {
    &.liste-contenus {
      main.main-content {
        h1 {
          margin-bottom: 60px;
        }
      }
    }

    &.liste-definitions {
      main.main-content {
        margin-bottom: 30px;

        .conteneur-alphabet {
          position: relative;
          margin-bottom: 60px;
          height: 38px;

          .alphabet {
            @include flex(center);
            flex-wrap: wrap;
            @include font($info, 18px, bold, uppercase, $f: "Faune");

            &.sticky {
              position: fixed;
              z-index: 10;
              top: 140px;

              &::before {
                @include pseudo-element(#fff, -1, null, $t: -10px, $l: 0, $width: 100vw, $height: 58px);
              }

            }

            .lettre {
              background: $bgliste;
              @include flex(center, center);
              height: 38px;
              width: 42px;
              text-align: center;
              flex-shrink: 0;
              color: inherit;
              @include rise();
              border: 1px solid #fff;
            }
          }
        }
      }
    }

    &.liste-recherche {
      .rappel {
        @include titre-h2();
      }
    }

    // Global - toutes listes confondues
    .conteneur-filtres {
      position: relative;
      background: $info;
      color: #fff;
      padding: 25px 20px 35px 20px;
      margin-bottom: 30px;

      &::before {
        @include pseudo-element(url('../img/home/forme-newsletter.png') no-repeat center center, -1, $alignement: null, $t: -18px, $l: -37px, $width: 54px, $height: 56px);
      }

      form.filtres {
        @include flex(flex-end);

        &.filtres-vertical {
          @include flex(flex-end, space-between);
          flex-wrap: wrap;

          .conteneur-titre {
            margin-bottom: 15px;
            text-align: center;
            width: 100%;
            margin-right: 0;
          }

          .form-group {
            max-width: none;
            width: 49%;
            margin-bottom: 15px;
            margin-right: 0;
            flex-grow: 0;
          }

          .custom-checkbox {
            margin: 15px 0;
            width: 100%;
            text-align: center;
          }

          .btn {
            margin: 15px auto 0 auto;
          }
        }

        .titre {
          @include font(inherit, $z: 21px, $t: uppercase, $f: "Faune");
          margin-right: 30px;
        }

        .form-group {
          @include flex(null, null, column);
          flex-grow: 1;
          flex-shrink: 0;
          margin-bottom: 0;
          margin-right: 30px;
          max-width: 380px;

          label {
            @include font(inherit, 18px, 700);
          }

          .select2 {
            position: relative;
            width: 100% !important;

            &.select2-container--focus {
              .select2-selection {
                border: none !important;
              }
            }

            &.select2-container--open {
              &::after {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }

            &::after {
              @include pseudo-element(url('../img/pictos/angle-down.png') no-repeat center center, null, "top right", $width: 75px);
            }

            .selection {
              .select2-selection {
                position: relative;
                @include flex();
                flex-wrap: wrap;
                @include border-radius(2rem);
                padding: 0 1.8rem;
                height: 37px;
                overflow-y: auto;
                padding-right: 45px;

                .select2-selection__arrow {
                  display: none;
                }

                .select2-search {
                  max-height: 35px;
                  margin: 0 3px;

                  .select2-search__field {
                    height: auto;
                    margin-top: 0;

                    &::placeholder {
                      font-style: italic;
                    }
                  }
                }

                .select2-selection__rendered {
                  .select2-selection__choice {
                    background: none;
                    font-size: 15px;
                    color: $primary;
                    margin: 0 3px;
                    padding: 0;
                    border: none;

                    &::after {
                      content: ',';
                    }

                    &:last-of-type {
                      &::after {
                        display: none;
                      }
                    }

                    .select2-selection__choice__remove {
                      display: none;
                    }
                  }
                }
              }
            }
          }

          input {
            height: 37px;
          }
        }

        button[type="submit"] {
          position: relative;
          padding-left: 60px;

          &::after {
            @include pseudo-element(url('../img/pictos/loupe.png') no-repeat center center, $width: 60px);
          }

          &:hover {
            &::after {
              background-image: url('../img/pictos/loupe-primary.png');
            }
          }
        }
      }
    }

    .information {
      @include flex(null);
      @include font($primary, 17px, null, null, italic);
      margin: 20px 0;

      i {
        display: inline-block;
        margin-right: 15px;
        margin-top: 5px;
      }
    }

    .conteneur-pagination {
      position: relative;
      @include flex(center, center);
      width: 100%;
      padding: 55px 0 100px 0;
      margin-bottom: 75px;

      &::after {
        @include pseudo-element(url('../img/pages/frise-pagination.png') no-repeat bottom center, null, null, $b: 0, $l: 50%, $height: 100px);
        @include transform(translateX(-50%));
      }

      #pagination-heading {
        @include font($info, 15px, normal, uppercase, $f: "Faune");
        letter-spacing: 0.8px;
        margin-right: 30px;
        margin-bottom: 0;
      }


      .pods-pagination-advanced {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;

        .pods-pagination-number {
          position: relative;
          @include font($info, 18px, bold, $f: "Faune");
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          &:not(.pods-pagination-current) {
            position: relative;
            @include flex(center, center);
            background: transparent;
            border: 1px solid $gray-300;
            @include circle(35px);
            overflow: hidden;
            @include transition();

            &::after {
              @include pseudo-element($primary, -1);
              @include transform(scale(0));
              @include circle(35px);
              opacity: 0;
            }

            &:hover {
              @media screen and(min-width: 992px) {
                color: #fff;
                &::after {
                  @include transform(scale(1));
                  opacity: 1;
                }
              }
            }
          }

          &.pods-pagination-current {
            @include font(#fff);
            @include flex(center, center);
            background: $primary;
            @include circle(35px);
            border: 1px solid $primary;
          }

          &.pods-pagination-next, &.pods-pagination-prev {
            @include flex(center, center);
            @include circle(35px);
            @include background(null, url('../img/pictos/angle-right.png'));
            border: none !important;
            &::after {
              display: none;
            }
            i {
              display: none;
            }
          }

          &.pods-pagination-next {
            margin-left: 5px;
          }
          &.pods-pagination-prev {
            margin-right: 5px;
            @include transform(rotate(180deg));

          }

        }
      }


      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;

        li {
          position: relative;

          &.numero {
            @include font($info, 18px, bold, $f: "Faune");
            margin-right: 10px;

            a {
              position: relative;
              @include flex(center, center);
              color: inherit;
              background: transparent;
              border: 1px solid $gray-300;
              @include circle(35px);
              overflow: hidden;
              @include transition();

              &::after {
                @include pseudo-element($primary, -1);
                @include transform(scale(0));
                @include circle(35px);
                opacity: 0;
              }

              &:hover {
                @media screen and(min-width: 992px) {
                  color: #fff;
                  &::after {
                    @include transform(scale(1));
                    opacity: 1;
                  }
                }
              }
            }

            &.last {
              margin-right: 0;
            }

            &.active {
              @include font(#fff);

              span {
                @include flex(center, center);
                background: $primary;
                @include circle(35px);
                border: 1px solid $primary;

              }
            }
          }

          &.arrow {

            &.arrow-prev {
              margin-right: 5px;

              a {
                @include transform(rotate(180deg));
              }
            }

            &.arrow-next {
              margin-left: 5px;
            }

            a {
              @include flex(center, center);
              @include circle(35px);
              @include background(null, url('../img/pictos/angle-right.png'));
            }
          }

        }
      }
    }

    .conteneur-liste-carte {
      @include make-row();

      .conteneur-structures {
        @include make-col-ready();
        @include make-col(6);
      }

      .conteneur-carte {
        @include make-col-ready();
        @include make-col(6);

        .carte {
          height: 100%;
          z-index: 0;
        }

      }
    }

    .conteneur-liste {
      // En grille (3 par ligne), comme Focus Psycom
      &.liste-grille {
        @include make-row();
        @include row-cols(3);

        .conteneur-element {
          position: relative;
          @include make-col-ready();

          // gestion des backgrounds, 1 ligne sur 2
          &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12) {
            background: $bgliste;

            .element {
              .footer-element {
                &::before {
                  background: darken($bgliste, 5%);
                }
              }
            }
          }

          &:nth-of-type(4), &:nth-of-type(10) {
            &::before {
              @include pseudo-element($bgliste, -1, null, 0, -100vw, null, null, 100vw);
            }
          }

          &:nth-of-type(6), &:nth-of-type(12) {
            &::after {
              @include pseudo-element($bgliste, -1, null, 0, null, null, -100vw, 100vw);
            }
          }

          .element {
            position: relative;
            @include flex(null, null, column);
            padding: 60px 0;

            .header-element {
              @include flex(center, space-between);
              margin-bottom: 30px;

              .date {
                position: relative;
                @include flex();
                @include font($secondary, 17px, $t: uppercase, $f: "Faune");
                border-bottom: 3px solid $border;
                padding-bottom: 2px;

                .jour {
                  @include font(inherit, 34px, bold);
                  margin-right: 15px;
                }
              }
            }

            .body-element {
              .conteneur-visuel {
                display: block;
                margin-bottom: 20px;
                width: 100%;
              }

              .titre-element {
                position: relative;
                @include font($primary, 23px, bold, $f: "Faune");
                margin-bottom: 20px;
                @include sideline-push($primary, $width: 2px);

                &:hover {
                  a {
                    color: $primary;
                  }
                }
              }

              .chapo-element {
                @include font($info, 17px);
                margin-bottom: 25px;
              }
            }

            .footer-element {
              position: relative;
              @include flex(center, center);

              &::before {
                @include pseudo-element($gray-200, null, null, 50%, 0, null, null, 100%, 2px);
                @include transform(translateY(-50%));
              }

              .more {
                padding: 2px 13px;
              }
            }
          }
        }
      }

      // Les uns en dessous des autres, comme résultats de recherche
      &.liste-verticale {
        @include make-row();

        .conteneur-element {
          position: relative;
          @include make-col-ready();
          @include make-col(12);

          .element {
            position: relative;
            @include flex(flex-start, null, column);

            .surlignement {
              display: inline-block;
              background: $warning;
              color: $info;
            }

            .badge {
              margin-bottom: 15px;
            }

            .titre-element {
              position: relative;
              @include font($primary, 23px, bold, $f: "Faune");
              margin-bottom: 20px;
              @include sideline-push($primary, $width: 2px);

              &:hover {
                a {
                  color: $primary;
                }
              }
            }

            .chapo-element {
              @include font($info, 17px);
              margin-bottom: 15px;
            }

            .more {
              padding: 2px 13px;
            }
          }
        }

        .element {
          @include flex();
          @include make-col(12);
          padding: 20px 0;
          border-bottom: 1px solid $gray-200;

          &:hover {
            @media screen and (min-width: 992px) {
              .type {
                @include transform(rotate(-180deg));

                &::after {
                  @include transform(scale(1) rotate(180deg));
                }
              }
            }
          }

          .type {
            position: relative;
            flex-shrink: 0;
            @include circle(55px);
            @include background($primary);
            margin-right: 30px;
            overflow: hidden;
            @include transition();

            &::before {
              @include pseudo-element(null, 1, $alignement: null, $t: 50%, $l: 50%, $width: null, $height: null);
              @include transform(translate(-50%, -50%));
            }

            &::after {
              @include pseudo-element(null, 2);
              @include background($secondary, url('../img/pictos/types/plus.png'));
              @include transform(scale(0));
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
            }

            &.actualite {
              &::before {
                @include background(null, url('../img/pictos/css_sprites.png'), $p: -113px -10px);
                width: 29px;
                height: 20px;
              }
            }

            &.page {
              &::before {
                @include background(null, url('../img/pictos/css_sprites.png'), $p: -113px -50px);
                width: 19px;
                height: 26px;
              }
            }

            &.temoignage {
              &::before {
                @include background(null, url('../img/pictos/css_sprites.png'), $p: -55px -60px);
                width: 27px;
                height: 23px;
              }
            }

            &.revue {
              &::before {
                @include background(null, url('../img/pictos/css_sprites.png'), $p: -10px -60px);
                width: 25px;
                height: 25px;
              }
            }
          }

          .titre-element {
            @include font($info, 17px, normal);
            margin-bottom: 0;

            a {
              color: inherit;
            }
          }
        }
      }

      &.conteneur-structures {
        max-height: 1140px;
        overflow-y: auto;
        min-height: 80vh;

        .element {
          position: relative;
          @include flex(null, null, column);
          padding: 15px;
          padding-top: 0;

          &.active {
            background: $bgliste;
          }

          .body-element {
            .titre-element {
              position: relative;
              @include font($primary, 23px, bold, $f: "Faune");
              margin-bottom: 15px;
              @include sideline-push($primary, $width: 2px);

              &:hover {
                a {
                  color: $primary;
                }
              }
            }

            .info {
              margin-bottom: 10px;
              @include font($info);

              i {
                width: 30px;
              }

              .badge {
                margin-right: 10px;
              }
            }
          }

          .footer-element {
            position: relative;
            @include flex(center);
            margin-top: 10px;

            &::before {
              @include pseudo-element($gray-200, null, null, 50%, 0, null, null, 100%, 2px);
              @include transform(translateY(-50%));
            }

            .more {
              padding: 2px 13px;
            }
          }
        }
      }

      &.liste-fiches {
        margin-bottom: 30px;

        .conteneur-lettre {
          .titre-lettre {
            position: relative;
            text-align: center;

            &::before {
              @include pseudo-element($bgliste, -1, null, 50%, 0, $height: 2px);
              @include transform(translateY(-1px));
            }

            span {
              display: inline-block;
              @include circle(45px);
              background: #fff;
              @include font($info, 35px, bold, uppercase, $f: "Faune");
            }
          }

          .conteneur-fiches {
            .fiche {
              position: relative;
              @include font($primary, 17px, $f: "Faune");
              list-style: none;
              margin-bottom: 15px;

              &::before { // pour remplacer le list-style
                content: '\f101';
                position: absolute;
                @include font($secondary, 21px, 900, $f: "Font Awesome 5 Free");
                left: -30px;
                top: -3px;

              }
            }
          }
        }
      }
    }
  }
}