.page-wrapper {
  &.detail {
    &.no-sidebar {
      main.main-content {
        @include make-col(12);
      }
    }

    &.page-standard {
      main.main-content {
        .intro-content {
          .date {
            &::before {
              display: none;
            }
          }
        }

        .conteneur-detail {
          .conteneur-visuel {
            text-align: center;
            margin-bottom: 60px;

            .conteneur-visuel-inner {
              position: relative;
              display: inline-block;
              width: auto;

              &::before {
                @include pseudo-element(url('../img/pictos/forme-thumbnail-standard.png') no-repeat top left, -1, null, $t: -18px, $l: -55px, $width: 241px, $height: 218px);
              }
            }
          }

          .chapo {
            position: relative;
            @include destroy-trait-psycom();
            margin-bottom: 0;
            padding-bottom: 0;
          }

          .sommaire {
            position: relative;
            background: $primary;
            color: #fff;
            max-width: 1200px;
            margin: auto;
            padding: {
              top: 40px;
              left: 30px;
              right: 30px;
              bottom: 50px;
            };
            margin-bottom: 70px;
            @include border-radius(7px);

            &::before {
              @include pseudo-element(url('../img/pictos/forme-sommaire.png') no-repeat top left, -1, null, $t: -15px, $l: -35px, $width: 54px, $height: 56px);
            }

            &::after {
              @include pseudo-element($warning, null, null, $t: 6px, $l: 0, $width: 100%, $height: 4px);
              border-left: 6px solid $primary;
              border-right: 6px solid $primary;
            }

            .titre-sommaire {
              @include font($warning, 26px, normal, uppercase, $f: "Faune");
              margin-bottom: 25px;
            }

            .contenu-sommaire {
              @include flex(flex-start, space-between, column);
              flex-wrap: wrap;
              // general
              .anchor {
                @include transition();
                border-bottom: 1px solid transparent;

                &:hover {
                  border-bottom: 1px solid #fff;
                }
              }

              .conteneur-h2 {
                padding-left: 0;
                margin-bottom: 0;
                padding-bottom: 8px;
                //margin-bottom: 5px;
                width: 45%;
                border-bottom: 1px solid lighten($primary, 10%);
                /*&.sans-h3 {
                  border-top: 1px solid lighten($primary, 10%);
                } */
                > li {
                  list-style: none;

                  > .anchor { // h2
                    @include font(#fff, 19px, bold, $f: "Faune");
                  }

                  .conteneur-h3 {
                    li {
                      list-style: disc;
                    }

                    .anchor {
                      @include font(#fff, 16px);
                    }
                  }
                }
              }
            }
          }

          .wysiwyg {
            position: relative;

          }
        }
      }
    }

    .conteneur-page {
      .row-page {
        @include make-row();
      }
    }

    main.main-content {
      @include make-col-ready();
      @include make-col(9);

      .intro-content {
        margin-top: -25px;
        margin-bottom: 60px;

        .date {
          position: relative;
          @include font($gray-600, 13px, 400, uppercase, italic);
          padding-right: 15px;
          margin-right: 15px;

          &::before {
            @include pseudo-element($gray-600, null, null, $t: 50%, $r: 0, $width: 5px, $height: 5px);
            @include border-radius(50%);
            @include transform(translateY(-50%));
          }
        }
      }

      .conteneur-detail {
        @include make-row();

        &.conteneur-temoignage {
          display: block;

          .conteneur-visuel {
            position: relative;
            float: right;
            max-width: 400px;
            margin: {
              left: 55px;
              bottom: 50px;
            };

            &::before {
              @include pseudo-element(url('../img/pictos/bg-thumbnail.png') no-repeat center center, -1, null, $t: -40px, $l: -25px, $width: 152px, $height: 181px);
            }
          }
        }

        .contenu {
          @include make-col-ready();
          @include make-col(12);

          .chapo {
            position: relative;
            margin-bottom: 30px;
          }

          // Editeur WYSIWYG de Wordpress + Editeur WYSWIWYG d'Elementor + titres dans et hors éditeur
          .wysiwyg, .elementor-text-editor, .elementor-widget-text-editor, .elementor .elementor-widget-heading {
            @include font($info, 17px, $f: "Nunito Sans");

            &:not(.contenu-elementor) { // class ajoutée à la div .wysiwyg quand la page contient elementor
              a { // évite que ce style de lien contamine les widgets elementor
                @include lien-wysiwyg();
              }
            }

            h1, h1.elementor-heading-title {
              @include titre-h1();
            }

            h2, h2.elementor-heading-title {
              @include titre-h2();
            }

            h3, h3.elementor-heading-title {
              @include titre-h3();
            }

            h4, h4.elementor-heading-title {
              @include titre-h4();
            }

            h5, h5.elementor-heading-title {
              @include titre-h5();
            }

            h6, h6.elementor-heading-title {
              @include titre-h6();
            }

            img {
              max-width: 100%;
              height: auto;

              &.alignleft {
                float: left;
                margin: 0 15px 15px 0;
              }

              &.alignright {
                float: right;
                margin: 0 0 15px 15px;
              }
            }

            span.template-image {
              position: relative;

              img {
                max-width: 100%;
                height: auto;

                &.alignnone {
                  padding: 0 0 10px 10px;
                  margin: 0 0 15px 0;
                  display: inline-block;
                }

                &.alignleft {
                  float: left;
                  padding: 0 0 10px 10px;
                  margin: 0 15px 15px 0;
                }

                &.alignright {
                  float: right;
                  padding: 0 0 10px 10px;
                  margin: 0 0 15px 15px;
                }

                &.aligncenter {
                  margin: auto;
                  display: block;
                  text-align: center;
                }
              }

              &.alignnone {
                padding: 0 0 10px 10px;
                margin: 0 0 15px 0;
                display: inline-block;

                img {
                  margin: 0;
                }
              }

              &.alignleft {
                float: left;
                padding: 0 0 10px 10px;
                margin: 0 15px 15px 0;

                img {
                  margin: 0;
                }
              }

              &.alignright {
                float: right;
                padding: 0 0 10px 10px;
                margin: 0 0 15px 15px;

                img {
                  margin: 0;
                }
              }

              &.aligncenter {
                img {
                  margin: auto;
                  display: block;
                  text-align: center;
                }
              }
            }

            ul:not(.elementor-editor-element-settings), ul:not(.elementor-editor-section-settings) { // évite que le style de liste apparaisse en back-office dans l'éditeur d'élementor

              li {
                position: relative;
                list-style: none;
                margin-bottom: 25px;

                &::before { // pour remplacer le list-style
                  content: '\f101';
                  position: absolute;
                  @include font($secondary, 21px, 900, $f: "Font Awesome 5 Free");
                  left: -30px;
                  top: -3px;

                }

                ul {
                  margin-top: 25px;

                  li {
                    &::before { // pour remplacer le list-style
                      color: $primary;
                    }

                    ul {
                      margin-top: 25px;

                      li {
                        &::before { // pour remplacer le list-style
                          color: $warning;
                        }
                      }
                    }
                  }
                }
              }
            }

            blockquote {
              position: relative;
              padding: 60px 60px 40px 60px;
              margin: 60px 0;
              background: $info;
              @include font(#fff, 20px, null, null, italic);

              &:before { // guillemet ouvrant d'une citation
                content: '“';
                position: absolute;
                top: -5px;
                left: 20px;
                @include font(#fff, 70px, bold, $s: normal, $f: "Faune");

              }
            }

            .tableau-responsive {
              padding: 0;
              overflow-y: hidden;
              margin: 15px 0;
            }

            table {
              thead {
                tr {
                  td, th {
                    background: $info;
                    @include font(#fff, 17px, 700, uppercase);
                    border-right: 3px solid #fff;
                    border-bottom: none;

                    &:first-of-type {
                      border-top-left-radius: 6px;
                      border-bottom-left-radius: 6px;
                    }

                    &:last-of-type {
                      border: none;
                      border-top-right-radius: 6px;
                      border-bottom-right-radius: 6px;
                    }
                  }
                }
              }

              tbody {
                tr {
                  &:first-of-type {
                    td {
                      padding-top: 15px;
                    }
                  }
                }
              }

              tr {
                &:nth-of-type(even) {
                  td {
                    position: relative;

                    &::before {
                      @include pseudo-element(#f0f5f4, -1, null, 6px, 0, 6px, 0, $height: auto);
                    }
                  }
                }

                &:last-of-type {
                  td {
                    border-bottom: none;

                  }
                }

                td {
                  padding: 15px 20px;
                  border-bottom: 3px solid #b2cbc6;
                  border-right: 1px solid #c0c4c3;

                  &:last-of-type {
                    border-right: none;
                  }
                }
              }
            }

            hr {

            }
          }

          .wysiwyg { // Pour les styles autres que l'éditeur WYSIWYG d'Elementor
            .elementor {
              @include font($info, 17px, $f: "Nunito Sans");

              // COMPTEUR
              .elementor-widget-counter {
                .elementor-counter-number-wrapper {
                  @include font($primary, null, bold, $f: "Faune");
                }

                .elementor-counter-title {
                  @include font($info, $f: "Nunito Sans");
                }
              }

              // BOUTONS
              .elementor-widget-button {
                .elementor-button {
                  display: inline-block;
                  font-family: $btn-font-family;
                  font-weight: $btn-font-weight;
                  color: $body-color;
                  text-align: center;
                  white-space: $btn-white-space;
                  vertical-align: middle;
                  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
                  user-select: none;
                  background-color: #fff;
                  border: 1px solid #d6d6da;
                  padding: 0.7rem 1.4rem;
                  font-size: 17px;
                  // Manually declare to provide an override to the browser default
                  @include border-radius(2rem);
                  @include transition($btn-transition);

                  @include button-variant(#fff, #d6d6da, $color: $info);


                  // Disabled comes first so active can properly restyle
                  &.disabled,
                  &:disabled {
                    opacity: $btn-disabled-opacity;
                  }

                  // taille des boutons
                  &.elementor-size-xs {
                    font-size: 13px;
                  }

                  &.elementor-size-sm {
                    font-size: 15px;
                  }

                  &.elementor-size-md {
                    font-size: 17px;
                  }

                  &.elementor-size-lg {
                    font-size: 19px;
                  }

                  &.elementor-size-xl {
                    font-size: 22px;
                  }

                  // style des boutons (couleurs, texte, etc)
                  .elementor-button-text {

                  }
                }

                &.elementor-button-info {
                  .elementor-button {
                    @include button-variant($info, $info);
                  }
                }

                &.elementor-button-success {
                  .elementor-button {
                    @include button-variant($primary, $primary);
                  }
                }

                &.elementor-button-warning {
                  .elementor-button {
                    @include button-variant($warning, $warning);
                  }
                }

                &.elementor-button-danger {
                  .elementor-button {
                    @include button-variant($secondary, $secondary);
                  }
                }
              }

              // Va et vient
              .elementor-widget-toggle {

                .elementor-toggle-item {
                  border: none;
                  margin-bottom: 10px;

                  .elementor-tab-title {
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    background: #eff4f3;
                    border-bottom: none;

                    &.elementor-active {
                      background: $primary;
                      box-shadow: -8px 8px 11px rgba(#000, 0.13);
                      a {
                        color: #fff;
                        font-weight: 700;

                      }
                      .elementor-toggle-icon {
                        i {
                          color: #fff;
                        }
                      }
                    }

                    .elementor-toggle-icon {

                      i {
                        color: $info;
                      }
                    }

                    a { // lien pour ouvrir l'accordéon
                      @include font($info, 17px, 600, uppercase, $f: "Nunito Sans");
                      &:hover {
                        @media screen and(min-width: 992px) {

                        }
                      }
                    }
                  }

                  .elementor-tab-content {
                    padding: 35px 20px;
                    @include font($info, 17px, $f: "Nunito Sans");
                    border-bottom: none;
                    a { // style de lien dans le contenu de l'accordéon (reprendre le style de l'éditeur wysiwyg)

                      &:hover {
                        @media screen and(min-width: 992px) {

                        }
                      }
                    }
                  }
                }

              }

              // ACCORDEON
              .elementor-accordion {

                .elementor-accordion-item {
                  border: none;
                  margin-bottom: 10px;

                  .elementor-tab-title {
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    background: #eff4f3;

                    &.elementor-active {
                      background: $primary;
                      box-shadow: -8px 8px 11px rgba(#000, 0.13);
                      a {
                        color: #fff;
                        font-weight: 700;

                      }
                      .elementor-accordion-icon {
                        i {
                          color: #fff;
                        }
                      }
                    }

                    .elementor-accordion-icon {

                      i {
                        color: $info;
                      }
                    }

                    a { // lien pour ouvrir l'accordéon
                      @include font($info, 17px, 600, uppercase, $f: "Nunito Sans");
                      &:hover {
                        @media screen and(min-width: 992px) {

                        }
                      }
                    }
                  }

                  .elementor-tab-content {
                    padding: 35px 20px;
                    @include font($info, 17px, $f: "Nunito Sans");
                    a { // style de lien dans le contenu de l'accordéon (reprendre le style de l'éditeur wysiwyg)

                      &:hover {
                        @media screen and(min-width: 992px) {

                        }
                      }
                    }
                  }
                }
              }

              // IMAGES ET LEGENDE
              .elementor-image {
                figure {
                  a { // quand il y a un lien sur l'image

                    &:hover {
                      @media screen and(min-width: 992px) {
                        img {

                        }
                      }
                    }

                    img { // img dans le lien

                    }
                  }

                  img { // img sans lien

                  }

                  figcaption {
                    @include font($info, 15px, $s: italic);
                    padding: 10px 0;
                  }
                }
              }

              // Carousel
              .elementor-image-carousel-wrapper {
                .swiper-slide {
                  position: relative;
                  @include flex(center, center);
                  height: 235px;
                  overflow: hidden;

                  figure, img {
                    min-height: 100%;
                  }

                }

                .swiper-pagination {
                  display: none;
                }

                .elementor-swiper-button {
                  width: 30px;
                  height: 30px;
                  cursor: pointer;

                  i {
                    display: none;
                  }

                  &.elementor-swiper-button-prev {
                    left: -15px;

                    &::before {
                      @include pseudo-element(url('../img/pictos/angle-left.png') no-repeat center center, 1);
                    }
                  }

                  &.elementor-swiper-button-next {
                    right: -15px;

                    &::before {
                      @include pseudo-element(url('../img/pictos/angle-right-carrousel.png') no-repeat center center, 1);
                    }
                  }
                }
              }

              // Liste d'icones
              .elementor-widget-icon-list {
                li {
                  i {
                    color: $secondary;
                  }

                  &::before {
                    display: none;
                  }
                }
              }

              // Progress bar
              .elementor-widget-progress {
                .elementor-title {
                  display: inline-block;
                  color: $info;
                  @include font($info, 20px, bold, $f: "Faune");
                  margin-bottom: 10px;
                }
                .elementor-progress-wrapper {
                  &.progress-success {
                    .elementor-progress-bar {
                      background-color: $primary;
                    }
                  }
                  &.progress-info {
                    .elementor-progress-bar {
                      background-color: $info;
                    }
                  }
                  &.progress-danger {
                    .elementor-progress-bar {
                      background-color: $secondary;
                    }
                  }
                  &.progress-warning {
                    .elementor-progress-bar {
                      background-color: $warning;
                    }
                  }
                  .elementor-progress-bar {
                    background-color: $primary;
                  }
                }
              }

              // Separateur
              .elementor-widget-divider {
                padding-top: 1em;
                padding-bottom: 1em;

                .elementor-divider-separator {

                }
              }

              // Citations
              .elementor-widget-blockquote {

                footer {


                  cite {

                  }
                }
              }

              // Icone
              .elementor-widget-icon {
                .elementor-icon {
                  color: $primary;
                  border-color: $primary;
                }

                &.elementor-view-stacked {
                  .elementor-icon {
                    background-color: $primary;
                    color: #fff;
                  }
                }

                &.elementor-view-framed {
                  .elementor-icon {
                    color: $primary;
                    border-color: $primary;
                    fill: $primary;
                  }
                }
              }

              // Icone box
              .elementor-widget-icon-box {
                &.elementor-view-stacked {
                  .elementor-icon {
                    color: #fff;
                    background-color: $primary;
                  }
                }
                &.elementor-view-framed {
                  .elementor-icon {
                    color: $primary;
                    background-color: #fff;
                    border-color: $primary;
                  }
                }
                .elementor-icon {
                  color: $primary;
                }

                .elementor-icon-box-content {
                  .elementor-icon-box-title {

                  }

                  .elementor-icon-box-description {
                    @include font($info, 17px, $f: "Nunito Sans");

                    a { // style de lien dans le contenu de la boîte d'image (reprendre le style de l'éditeur wysiwyg)
                      color: $primary;
                      border-bottom: 1px solid $primary;
                      @include transition();

                      &:hover {
                        @media screen and(min-width: 992px) {
                          border-color: transparent;
                        }
                      }
                    }
                  }
                }
              }

              // Image
              .elementor-widget-image {
                .wp-caption {

                }
              }

              // Image box
              .elementor-widget-image-box {


                .elementor-image-box-title {

                }

                .elementor-image-box-description {
                  @include font($info, 17px, $f: "Nunito Sans");

                  a { // style de lien dans le contenu de la boîte d'image (reprendre le style de l'éditeur wysiwyg)
                    color: $primary;
                    border-bottom: 1px solid $primary;
                    @include transition();

                    &:hover {
                      @media screen and(min-width: 992px) {
                        border-color: transparent;
                      }
                    }
                  }
                }
              }

              // Onglets
              .elementor-widget-tabs {
                .elementor-tabs-wrapper {
                  .elementor-tab-title {

                    &.elementor-active {

                    }
                  }
                }

                .elementor-tabs-content-wrapper {
                  .elementor-tab-content {
                    a { // style de lien dans le contenu de l'onglet (reprendre le style de l'éditeur wysiwyg)

                      &:hover {
                        @media screen and(min-width: 992px) {

                        }
                      }
                    }
                  }
                }
              }

              // Temoignage
              .elementor-widget-testimonial {
                padding-top: 115px;
                margin: 35px 0;

                .elementor-testimonial-wrapper {
                  position: relative;
                  @include flex(center, center, column);
                  background: $info;
                  color: #fff;
                  overflow: visible;
                  padding: 0 80px 80px 80px;
                  background: {
                    color: $info;
                    image: url('../img/pages/footer-temoignage.png');
                    repeat: no-repeat;
                    position: bottom center;
                    size: 100%;
                  };
                  &::before {
                    @include pseudo-element(url('../img/pages/frise-temoignage.png') no-repeat center right, 1, null, -38px, $height: 72px);
                  }
                  .elementor-testimonial-content {
                    order: 1;
                    @include font(#fff, 17px, $f:"Nunito Sans", $a: center);
                  }

                  .elementor-testimonial-meta {
                    order: 0;
                    z-index: 2;
                    .elementor-testimonial-meta-inner {
                      @include flex(center, center, column);
                      margin-bottom: 40px;
                      text-align: center;
                      .elementor-testimonial-image {
                        padding-right: 0;
                        margin-bottom: 20px;
                        img {
                          -webkit-border-radius: 0;
                          -moz-border-radius: 0;
                          border-radius: 0;
                          width: auto;
                          height: 235px;
                          margin-top: -115px;
                        }
                      }
                    }
                    .elementor-testimonial-details {
                      text-align: center;
                      .elementor-testimonial-name {
                        @include font($warning, 35px, bold, $f: "Faune");
                        margin-bottom: 5px;

                      }

                      .elementor-testimonial-job {
                        @include font(#fff, 16px, null, uppercase, $f: "Nunito Sans");
                      }
                    }
                  }
                }

              }

              // Alertes
              .elementor-widget-alert {
                padding-left: 35px;
                .elementor-alert {
                  padding: 15px 20px;
                  border: 1px solid transparent;
                  -webkit-border-radius: 6px;
                  -moz-border-radius: 6px;
                  border-radius: 6px;
                  @include font($info, 16px, $f: "Nunito Sans");
                  box-shadow: -8px 8px 11px rgba(#000, 0.13);
                  &.elementor-alert-info {
                    background-color: #fff;
                    color: $info;
                    border-color: $info;
                  }
                  &.elementor-alert-success {
                    background-color: $primary;
                    color: #fff;
                    border-color: $primary;
                  }
                  &.elementor-alert-danger {
                    background-color: $secondary;
                    color: #fff;
                    border-color: $secondary;
                  }
                  &.elementor-alert-warning {
                    background-color: $warning;
                    color: $info;
                    border-color: $warning;
                  }
                  .elementor-alert-title {
                    @include font(inherit,19px, bold, $f:"Nunito Sans");
                    margin-bottom: 5px;
                  }
                }
              }

              // GESTION DES COLONNES
              .elementor-column-gap-default {
                & > .elementor-row {
                  & > .elementor-column {
                    & > .elementor-element-populated {
                      padding-left: 0;
                      padding-right: 0;
                    }
                  }
                }
              }

              .elementor-row {
                display: flex;
                margin: 0 -15px;

                .elementor-column {
                  padding: 0 15px;


                  &.elementor-col-50 {
                    width: 50%;
                  }

                  &.elementor-col-100 {
                    width: 100%;
                    margin: 0;
                  }

                  &.elementor-col-60 {
                    width: 60%;
                  }

                  &.elementor-col-40 {
                    width: 40%;
                  }
                }

              }

            }
          }

        }


        .conteneur-caracteristiques-info {
          @include make-col-ready();
          @include make-col(7);

          .caracteristiques {
            position: relative;
            @include flex(null, space-between);
            flex-wrap: wrap;
            @include background($info, url('../img/pages/footer-caracteristiques.jpg'), $p: bottom center);
            @include font(#fff, 17px);
            padding: 30px 30px 85px 30px;
            margin-bottom: 60px;
            @include trait-psycom();

            .caracteristique {
              @include flex(flex-start);
              width: 45%;
              padding-bottom: 20px;

              .conteneur-picto {
                position: relative;
                @include flex(center, center);
                flex-shrink: 0;
                @include circle(35px);
                background: #fff;
                margin-right: 20px;
              }

              .conteneur-info {
                span, a {
                  display: block;
                }

                a {
                  color: #fff;

                  &.mail {
                    position: relative;
                    @include underline(rgba(#fff, 60%));
                  }

                  &.btn {
                    padding: 2px 13px;
                    @include button-outline-variant(#fff, $info);
                  }
                }
              }
            }
          }

          .infos-complementaires {
            position: relative;
            padding-top: 30px;
            @include font($info, 17px);
            @include trait-psycom();
          }
        }

        .conteneur-carte {
          @include make-col-ready();
          @include make-col(5);

          #map-gem {
            z-index: 0;
          }
        }

      }

      .footer-detail {
        padding: 45px 0 85px 0;

        .retour {
          position: relative;
          padding-left: 53px;
          @include font(null, 17px, $f: "Faune");
          @include button-outline-variant($primary, #fff);

          &:hover {
            &::after {
              background-image: url('../img/pictos/arrow-left-white.png');
            }
          }

          &::after {
            @include pseudo-element(url('../img/pictos/arrow-left.png') no-repeat center center, $width: 53px);
            @include transition();
          }

          span {
            padding-bottom: 5px;
          }

          .mobile {
            display: none;
          }
        }
      }
    }
  }
}