// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);

  @at-root a#{&} {
    @include hover-focus() {
      text-decoration: none;
    }
  }

  &.badge-categorie {
    position: relative;
    padding-right: 15px;
    padding-left: 33px;
    @include border-radius($badge-pill-border-radius);
    border: 1px solid $gray-300;
    color: $info;
    text-transform: uppercase;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 33px;
      height: 100%;
      background: url('../img/pictos/tag.png') no-repeat center center;
    }
  }

  &.badge-type {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    @include border-radius($badge-pill-border-radius);
    border: 1px solid $gray-300;
    color: $info;
    text-transform: uppercase;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}
